[2021-09-29 15:22] by-gnome commented on #1508
Looks like solved: [retroarch_pc_i5-4690.log](https://github.com/libretro/Lakka-LibreELEC/files/7253110/retroarch_pc_i5-4690_2.log)

[2021-09-29 16:01] ToKe79 commented on #1508
looks like the issue was that `i915` was in mesa in `-Ddri-drivers=` instead of in `-Dgallium-drivers` - building again (clean).

[2021-09-29 17:44] jdalmanza commented on #1383
i think by default supafaust is designed for multi-core CPUs and IIRC pi Zero is only a single core. Is it possible that the build is expecting multiple cores and crashing because there is only a single?

two important things I took away from the project page:

    _Minimum recommended CPU is a dual-core CPU, running at 900MHz for most SNES games, and at 1200MHz for SuperFX, SA-1, and CX4 games.

[2021-09-29 18:04] yikesmeguts commented on #1383
I am not heavily invested in trying to run SNES games on the GPi case, I usually reserve this device for older and lower-end game consoles that fall within the limits of what the Pi Zero can handle. When I do feel like playing SNES games, I either play them on a Pi4 attached to a TV screen, or on my OGS, both of which handle Beetle Supafaust fine.

When the Lakka 3.x code tree was adjusted to rest

[2021-09-29 19:16] ToKe79 commented on #1508
Can you please confirm this image is working?
https://nightly.builds.lakka.tv/members/vudiq/generic.x86_64-clean-master-20210929+i915_gallium/
We have deprecated the i965 driver in favor of crocus (for the older intel GPUs), therefore we do not want to include it in future.
Thanks!

[2021-09-29 19:30] gouchi commented on #1383
@jdalmanza Thank you about this information I missed it.

@yikesmeguts you can try to add core override in `/storage/.config/retroarch/config/Supafaust/Supafaust.cfg`

[code]

For your case the most important is `supafaust_renderer = "st"`

[2021-09-29 19:51] dverbeeck commented on #1508
@ToKe79 segfaulting again w/ 20210929+i915_gallium

[dmesg_gallium.txt](https://github.com/libretro/Lakka-LibreELEC/files/7254682/dmesg_gallium.txt)

[2021-09-29 20:04] ToKe79 commented on #1508
can you also provide RA log [with `LIBGL_DEBUG=verbose`](http://lakka.tv/doc/Troubleshooting-Lakka/#option-b-creating-a-log-file) or with [the `createlog` script](http://lakka.tv/doc/Troubleshooting-Lakka/#automated-collection-of-relevant-logs)?

[2021-09-29 20:41] dverbeeck commented on #1508
@ToKe79

[Lakka-Generic.x86_64-3.5-devel-20210929190102-08f4712.log](https://github.com/libretro/Lakka-LibreELEC/files/7254933/Lakka-Generic.x86_64-3.5-devel-20210929190102-08f4712.log)

[2021-09-29 21:10] ToKe79 commented on #1508
can you add `MESA_LOADER_DRIVER_OVERRIDE=i915` for one test and `MESA_LOADER_DRIVER_OVERRIDE=crocus` as second test before `LIBGL_DEBUG=verbose`?
E.g.
[code]

[2021-09-29 21:59] dverbeeck commented on #1508
[i915.log](https://github.com/libretro/Lakka-LibreELEC/files/7255274/i915.log
[crocus.log](https://github.com/libretro/Lakka-LibreELEC/files/7255275/crocus.log)
)

The crocus override allows RA to start successfully!

[2021-09-30 13:02] ToKe79 opened #1511 "Add GPICase"
Needs to be added to `projects/RPi/devices`, RA + libretro cores should already include specifics for this device.

[2021-09-30 13:05] ToKe79 opened #1512 "Add RK3326 - oga, ogs, rg351*"
probably belongs to `projects/Rockchip`, most of the changes for RA and cores should be already included in 4.x branch

[2021-09-30 13:05] ToKe79 opened #1513 "Add Switch"

[2021-09-30 13:07] ToKe79 opened #1514 "Add Generic 32-bit"

[2021-09-30 17:50] jdalmanza commented on #1383
i did a fresh install of 3.4 and tried to launch a snes game with the supafaust core and it crashed. I cannot verify it says the same message as the on-screen notifications are too small (see: https://github.com/libretro/Lakka-LibreELEC/issues/1448) but when I went to the location of the config file you mentioned above there is no file there. I'm not sure if I can copy/paste that into a new file,

[2021-09-30 17:54] yikesmeguts commented on #1383
I was planning to try this as well once I get home from work tonight.

[2021-09-30 18:06] ToKe79 opened #1515 "Add RPi3.aarch64"

[2021-09-30 18:06] ToKe79 opened #1516 "Add RPi4.aarch64"

[2021-09-30 18:06] ToKe79 opened #1517 "Add RPi4-PiBoxDMG"

[2021-09-30 18:07] ToKe79 opened #1518 "Add RPi4-RetroDreamer"

[2021-09-30 18:22] ToKe79 opened #1519 "Fix parallel_n64 for arm/aarch64"
build crashes during linking
[code]

[2021-10-01 04:19] jdalmanza commented on #1383
copying the values into a new .cfg file did not work. Core still crashes

[2021-10-02 20:51] ToKe79 opened #1521 "systemd - make it silent"
check which units cause issue / cycling order and fix the order

[2021-10-02 21:05] gouchi commented on #1383
Thank you for tests.

May you try to get some log ? If it is a segfault we should try to open an [issue](https://github.com/libretro/supafaust/issues)  in the core repository with debug information.

Thank you.

[2021-10-03 04:59] pitsi opened #1522 "No network connection unless the system is connected to a tv"
- Which version of Lakka are you using?
3.4 and I hope to upgrade to 3.5. Sorry but I can't use nightly.

- What system hardware are you using?
Rpi zero (non w) and rpi 3b+. The 3b+ uses the aarch64 build that was first released with lakka 3.2 and I use an external wireless adapter for the zero. Both are wirelessly connected to my network.

- What did you do?
When a new version of lakka is release

[2021-10-03 05:25] pitsi commented on #1522
The update to 3.5 on the zero finished a few minutes ago. I removed it from the tv, got it back on my desk and now it works like it used to, without being connected to the tv. I rebooted it 2-3 times to be sure, and it kept showing up as connected.

On the other hand, even connecting to the 3b+ is a tough task because of the bad wifi coverage and the lag. I typed `cd .update` in putty and the "phr

[2021-10-03 09:05] pitsi commented on #1522
I removed the sd card and connected it to the pc. I was hoping to download the update via wget, but it fails
[code]

[2021-10-03 09:22] ToKe79 commented on #1522
Change ownership of the permissions of the update folder to 777.

[2021-10-03 09:46] pitsi commented on #1522
It did not let me do it as a regular user, but it let me do it as root. Then I switched back to regular user and now I am downloading it. I will report when it finishes updating.
Thanks a lot :)

Meanwhile, I made a big mistake. My neighbor's wifi is also visible at the room of the tv  It also has the same bad coverage.
So I connected to it and tried updating lakka via retroarch. It did connect an

[2021-10-03 09:56] ToKe79 commented on #1522
The update process should delete any corrupted update file, so rebooting should be safe.

[2021-10-03 10:05] pitsi commented on #1522
Sorry, I wasn't clear. How can I delete the neighbor's wifi network from the stored ones?
Good thing though that the corrupted file is deleted automatically.

[2021-10-03 10:12] #1522 closed

[2021-10-03 12:21] paqman3d opened #1523 "Menu Toggle Button Broken"
- Which version of Lakka are you using?

Lakka 3.5

- What system hardware are you using?

Asus Tinkerboard

- What did you do?

Press the HOME button on my Retrobit Sega Genesis Bluetooth Controller

- What did you expect to happen?

Enter the home menu

- What happened instead?

Nothing. Just upgraded from 3.4 when this worked. Checked Input Settings/Hotkeys and the menu toggle is set to "Button

[2021-10-03 15:14] kFYatek commented on #1290
As an author of that PR, I don't think that can be done directly.

With my PR, I was able to get the kind of output you expect in X by entering that 720x240 mode and running `xrandr --output Composite-1 --scale 1x2`. I'm not sure how could that be achieved in Kodi or whatever you're using.

The GPU will always internally operate at 720x240 in the progressive mode, that "fake" 720x480 mode you expe

[2021-10-03 19:16] jayare5 commented on #1290
Wow that sounds like bad news. That mode is specifically why many people like me even got into Raspberry Pi... it sounds like it will take very long for someone to come in with the right expertise and interest.
Things used to work perfectly well though, with just the `sdtv_mode=16` / `sdtv_mode=18`, is there no way to make that work without having to use `fkms` in `dtoverlay=vc4-fkms-v3d`?
Because

[2021-10-04 04:12] kFYatek commented on #1290
I just did some very dirty PoC on my Pi that does hardware scaling from 720x480 to 720x240 with Full-KMS. I did not test with RetroArch, but it seems to work under X, although not quite exactly like it does with the firmware framebuffer:
* each two lines of the 720x480 framebuffer are averaged instead of dropping every other one
* mouse cursor is a bit choppy - it only actually moves vertically on

[2021-10-04 05:14] jayare5 commented on #1290
I really appreciate you continuing to work on this!! I did not expect it :) Thank you.
The way you describe the behavior does sound like it would work well for what we're doing here, because the thing is that the games we play with this are already basically line doubled (games are 240p, integer scaled to 480p, and then line halved again on the TV) so it shouldn't be a difference there! The lines

[2021-10-04 08:17] kFYatek commented on #1290
I've pushed my dirty PoC to my fork of the repo: it's tagged as [`480p-poc`](https://github.com/kFYatek/linux/releases/tag/480p-poc), the commit is [`8c4fc3c`](https://github.com/kFYatek/linux/commit/8c4fc3cda8695b0b583fc5be92521be0902375f9). It's based on the current state of that raspberrypi/linux#4406 PR.

It is intended to give you a clear "fake 480p" picture with `sdtv_mode=16`/`sdtv_mode=18`

[2021-10-04 10:58] HiassofT commented on #1290
There's no need to hack up the driver, DRM/KMS already supports scaling and you can set up framebuffers with different size than the CRTC output resolution if you want.

This gives you full control over what's happening in the output pipeline, automatic up- or down-scaling may not always be what you want (eg you might prefer to render to a 360x240 framebuffer and let DRM output that at 720x240).

[2021-10-04 11:08] kFYatek commented on #1290
@HiassofT That's true - but the real question is whether RetroArch and other emulators support doing that.

If not, it might be actually easier to add implicit scaling to the driver instead of patching all the userland software, especially considering that it's how the firmware modes worked since forever...

[2021-10-04 11:50] HiassofT commented on #1290
While it might be easier short term to carry over the old workaround it would be a lot better to implement that properly (if retroarch etc don't support it yet).

DRM will tell you the exact output resolution and should also report the picture aspect ratio which you can then use to calculate the output pixel aspect ratio and set up a proper scaling pipeline for emulator output so the picture won't

[2021-10-04 15:47] jayare5 commented on #1290
@kFYatek

Ah, I can tell you that this is the least of my worries :P RetroArch is full of video configs, moving the image 1 pixel up or down to make it align with the sharp line is the easiest thing to do! And it saves that location value so games always boot properly scaled / placed.

That's good to know! But in reality i've found the downscaled approach to be more ideal because horizontal scalin

[2021-10-04 15:55] kFYatek commented on #1290
No, it won't break a TV. By broken, I mean that all other modes will probably display a squashed image on only the upper half of the screen, or (less likely) some other form of distorted output. The signal itself should be reasonably formatted - just with garbage contents.

Besides, I don't think breaking an HDMI TV is that easy ;)

I'm fairly sure that this is the case right now, with any "normal

[2021-10-04 22:07] mediamoshpit opened #1524 "Face Buttons Reversed After 3.5 Update"
- Which version of Lakka are you using?
3.5

- What system hardware are you using?
Raspberry Pi 4B

- What did you do?
Updated from 3.4 to 3.5 and pressed face buttons on xinput-based controller (8bitdo SN30).

- What did you expect to happen?
For them to be mapped correctly

- What happened instead?
A=B, X=Y throughout the menus and in games. Remapping, even in reverse, doesn't solve the problem.

[2021-10-04 22:37] mediamoshpit commented on #1524
Remapping input actually works until an autoconfig is saved. At that point, when the manual mapping is cleared and the autoconfig is loaded, the controls reverse again.

[2021-10-04 23:15] mediamoshpit commented on #1524
Downgrading to 3.4 resolved the issue for the time being.

[2021-10-05 02:58] mediamoshpit commented on #1524
I believe I've found the cause of this issue. According to the xpadneo github documentation, this particular driver treats 8bitdo controllers differently by only allowing the SNES layout through a quirk flag.

I've got several different 8bitdo controller models and would rather not do this for each of them. Is there any way to use the driver found in 3.4? Another option would be to use the control

[2021-10-05 08:35] ToKe79 commented on #1514
https://github.com/libretro/Lakka-LibreELEC/commit/580391f3b50e0fdb8cbf001821addfc60fb278e8

[2021-10-05 08:35] #1514 closed

[2021-10-05 12:21] gouchi commented on #1524
May you  can try something like ?

`echo "options hid_xpadneo quirks=MAC-controller:quirk-ids" > /storage/.config/modprobe.d/8bitdo.conf
`

Otherwise, you can try to unload the module `rmmod xpadneo` you can get the module name with ` lsmod | grep xpadneo`.

If it is working you can blacklist it with

`echo "blacklist xpadneo" > /storage/.config/modprobe.d/blacklist.conf
`

[Source](https://github

[2021-10-05 16:36] mediamoshpit commented on #1524
I got it working by connecting the controller in 'MacOS Mode' to a Mayflash Magic S pro in 'Xinput Mode. Everything works as you'd expect, even force feedback. I also tried using a Brook Wingman XB, but didn't have the same luck in any mode.

It's a shame 8Bitdo controllers no longer work with Lakka by default, but the Mayflash adapter works well enough. This will likely be my personal solution, b

[2021-10-06 19:14] HappehLemons opened #1525 "Lakka on Nintendo Switch in Portable mode has incorrect refresh rate result in stuttering framerates"
All games in portable mode have jittering framerate issues. Issue becomes apparent in any side scrolling game (Sega Genesis, SNES, NES, ect..). This is due to the refresh rate in RA not matching the screens refresh rate. vsync has no effect here.

This does not happen when using Retroarch on Switch thru its native OS with CFW. Framerates are smooth and consistent in all games.

For some reason, it

[2021-10-07 06:41] carnage-asada commented on #1524
I am also experiencing the same issue on Lakka 3.5, Raspberry Pi 4B Arch64.
The A and B buttons on my 8Bitdo SN30 Pro+ are also switched around. Using 3.4 in the meantime.

[2021-10-07 06:51] ToKe79 commented on #1524
As [already pointed out](https://github.com/libretro/Lakka-LibreELEC/issues/1524#issuecomment-934358995) by @gouchi you have to fix this on your side. This is side effect of the added driver to support Xbox Wireless Gamepads.

[2021-10-07 06:53] #1508 closed

[2021-10-07 08:13] niclinux opened #1526 "Lakka 3.5 aarch64 reboots while scanning ROM files"
On lakka 3.5 aarch64 image on a raspberry pi 3B+ fresh installed and the system reboots while scanning some roms for, playstation one (psx) and amiga roms. I have those files placed on a sandisk 3.0 usb pen fat32-formatted and using [ventoy](https://www.ventoy.net/en/index.html). Tryed with both manual and auto scan but result is the same, Previously all worked fine, but i was usin' the arm 32 bit

[2021-10-07 20:43] HappehLemons opened #1527 "(Nintendo Switch) Lakka forced in highest resolution available in docked mode (4k 30hz)"
Right now using Lakka in docked mode on Nintendo Switch, it defaults its output to highest resolution to what's available on the device (In the case of my TV 4k30hz). How can I force Lakka to always output in 720p60hz and have my TV receive that signal?

This makes it completely unusable, as 4k has a lot of overhead & 30hz messes up almost every game.

Editing retroarch.cfg did not force a new res

[2021-10-08 22:04] #1521 closed

[2021-10-08 22:47] Ntemis commented on #1519
https://github.com/libretro/mupen64plus-libretro
Core is depreciated, you can safely  clean this one out

[2021-10-09 16:54] vus7294 commented on #1494
Sadly This bug is STILL PRESENT in 3.5 Stable for Switch.

[2021-10-10 12:45] ToKe79 commented on #1516
57aa39fa9b0094bf5d7a602eaffbee09c7373691

[2021-10-10 12:45] #1516 closed

[2021-10-11 01:43] PhasecoreX opened #1528 "Lakka 3.5 Bluetooth Controllers Refuse to Auto Connect"
- Which version of Lakka are you using?
  - RPi3.aarch64-3.5
- What system hardware are you using?
  - Raspberry Pi 3B+
- What did you do?
  - Updated from 3.4 to 3.5, pressed the A button on my WiiU pro controller to turn it on.
- What did you expect to happen?
  - Expected the controller to connect automatically, as it has always done in versions prior.
- What happened instead?
  - The controlle

[2021-10-11 04:53] jayare5 commented on #1290
@kFYatek
So I was able to build an image (with the help of @dmrlawson, thanks a ton!!!!)
And I've finally tested the 240p stuff :D
It is perfect! I actually looked for those differences you mentioned where if it's 1 pixel off vertically, it would blur, it behaved like that so that is confirmation I tested your patch. And yes that "side effect" is absolutely fine, having line averaging is great, it

[2021-10-11 05:48] ToKe79 commented on #1497
Upstream what? The patch for RetroArch (to unpair a device from the list of the Bluetooth devices) is currently only in Lakka tree applied at build time and it is kind of a hack just to improve "quality of life", in upstream it would need to rework the Bluetooth menu - having sub items for connect / unpair with their own list of devices. Currently the patch does not check if the device is paired,

[2021-10-11 05:53] ToKe79 commented on #1528
This might be due to the added driver for Xbox Wireless gamepads (`xpadneo`) - you can disable this driver by:
[code]
Please, let us know if this solves your issue.

[2021-10-11 10:54] coreybruce commented on #1497
Talking about the tests we have been doing if the will go upstream to stable or not. Ah ok that's what I wanted to check, is this something being worked on instead of the hack/work around or so far no because of issues? I am always happy to help test anything

[2021-10-11 11:57] ToKe79 commented on #1497
The driver is now included in Lakka since v3.5 as described here: https://github.com/libretro/Lakka-LibreELEC/issues/1524#issuecomment-939733685
The patch regarding the unpairing feature is not fit for upstream (i.e. to be included in RetroArch source), but is applied at build time of Lakka.
Regarding the driver, there have been issue reports from users with non Xbox gamepads, which can be fixed o

[2021-10-11 17:39] dmrlawson commented on #1519
I think this might be https://github.com/libretro/parallel-n64/

[2021-10-11 17:55] Yqnn opened #1530 "Unable to start Retroarch after upgrade to Lakka 3.5"
Hello,

Retroarch doesn't start anymore since I've upgraded to Lakka 3.5.
Nighly version ( `Lakka-Generic.x86_64-nightly-20211011-4d2843a`) also has the same issue.

Working again with a downgrade to Lakka 3.4.

Logs:
[code]

[2021-10-11 21:06] PhasecoreX commented on #1528
I have not paired these controllers with any other device, they have exclusively been used with this Raspberry Pi.

However I have removed them all from Lakka with the space bar as you mentioned, restarted Lakka, and then paired one of the controllers. Upon rebooting, it again would not automatically connect. The same observations in my original post are still present (one LED blink, bluetoothctl

[2021-10-11 23:53] jayare5 commented on #1290
Truly appreciate all your work!!!! Thanks so much.

I will be testing each mode for sure this time! (I think the only mode that was usable when I tested was 480-scaled-to-240p)

Btw, what needs to happen for these to be accepted in the raspberrypi/linux?

[2021-10-12 02:05] HappehLemons commented on #1525
Just to add on here, I was able find that RA allows you un-hide the setting that allow you to manually set the refresh rate by enable advanced options in the settings.

However - manually setting the refresh rate to 60.00hz, 59.999hz, 60.02hz, 60.002hz, enabling v-sync, turning off audio sync, or enabling threaded video does not fix this issue. Contact frame pacing issues.

[2021-10-12 16:54] #1519 closed

[2021-10-12 17:19] ToKe79 opened #1531 "Test upgrade from 3.x to 4.0"
On following targets automatic upgrade should work (i.e. on Lakka 3.x place the update file in `/storage/.update`, reboot for upgrade, after upgrade boot to RetroArch):
- [x] Generic (32-bit)
- [x] Generic (64-bit)
- [x] GPICase (arm)
- [ ] RPi (arm)
- [ ] RPi2 (arm)
- [x] RPi3 (aarch64)
- [x] RPi4 (aarch64)
- [ ] RetroDreamer (aarch64)
- [x] PiBoy DMG (aarch64)
- [ ] Switch (aarch64)
- [ ] Allwin

[2021-10-15 01:34] HappehLemons commented on #1525
Interesting. It looks like according to that post, it will be released soon as it will be in their next update. Hoping to see this patched in eventually, because Lakka is really great on swtich.

[2021-10-15 08:13] #1515 closed

[2021-10-15 20:19] ToKe79 commented on #1530
I hope your issue is solved now. If not, feel free to reopen/add comments.

[2021-10-15 20:19] #1530 closed

[2021-10-15 23:29] PhasecoreX commented on #1528
Bluetooth service is enabled. For pairing the controller, I used the Lakka Bluetooth menu. Using the menu, I can pair the controller and it immediately connects after the pairing process. However once the controller is turned off and then back on, the controller will not automatically connect.

I did just now try the `bluetoothctl` method of pairing the controller and then trusting it. But when I

[2021-10-16 08:44] jayare5 commented on #1290
@ToKe79 I tested the nightly builds, and it all seems perfect!!

I have a Pi3B+ and a Pi4. Both can now do 240p on a CRT and proper HDMI when editing the configs accordingly!
There are no glitches or issues as far as I could test on either board / config.
I can live live this now, unless there are plans in the future for both modes to work without having to edit the config?

Here are some notes ju

[2021-10-16 09:48] s3tupw1zard opened #1532 "Please add wifi driver for RTL8821CU"
Hello,
I don't really know where I could ask this, so I'm asking it here:

Could you please add the driver for RTL8821CU Wifi stick to Lakka?

I want to use it on Odroid Go Super.

Here's the link:
https://github.com/morrownr/8821cu

There is a script inside called raspi32.sh to prepare it to build for arm. I tried to build lakka on my own, but the retroarch part isn't compiling, so maybe you coul

[2021-10-16 10:30] ToKe79 commented on #1528
To rule out / isolate the issue, can you, please, roll back to 3.4 and confirm, this issue is not present? Thank you!

[2021-10-16 10:42] dmrlawson commented on #1060
@duduke thanks for that fix, I'll get it added in shortly.

@acidtech I've noticed an issue where the piboy appears to turn off during an update which can result in a non-working system. I think this might be because we're not loading the driver when we run the update script or something? Can you offer any advice or suggestions on how to prevent this happening?

[2021-10-16 13:56] Ntemis commented on #1518
@ToKe79 can we close this?

[2021-10-16 14:05] PhasecoreX commented on #1528
I have downgraded to `RPi3.aarch64-3.4`, paired a controller with the Lakka bluetooth menu, rebooted the Pi, and upon turning on the controller it connects successfully! I paired my other 3 controllers and they all connect automatically as well.

[2021-10-16 14:55] ToKe79 commented on #1528
thank you, I will try to find a fix, maybe it is really related to the xpadneo driver, maybe not...

[2021-10-16 18:14] acidtech commented on #1060
If the Piboy is turned on and doesnt start communicating with the  RPi
board it will shutdown in 5 minutes IIRC.  Similarly there is a shorter
timeout if communications starts and then stops for length of time.

I assume when you say "update" you mean a lakka update.  Can you give me an
example of how this update is processed?

There is a special flag that can be sent to prevent a shutdown if
comm

[2021-10-16 18:16] acidtech commented on #1060
That shouldn't be a problem. I can't think of a case you would need to
remove the kernel module outside of development purposes.

Nathan Scherdin

On Sat, Oct 16, 2021 at 8:18 AM Tomáš Kelemen ***@***.***>
wrote:

[2021-10-16 19:29] jayare5 commented on #1290
Looks like very clear instructions to me! :D Glad to see official support

[2021-10-17 09:00] GavinDarkglider commented on #1527
That is because the resolution is set by the dock handler, we actually have a system in place already, for you to set a resolution of your choosing, just create lakka/storage/dock-hotplug.conf and put 1080x720 on the first line and save it, and your dock resolution will now be 720p, like the screen resolution. you can set that resolution to what ever you want, 1080x720 was just an example.

[2021-10-17 11:36] dmrlawson commented on #1518
Tested this. arm_64bit config was missing so I pushed a fix to the branch.

Flycast and duckstation don't launch:

Flycast:
[code]

Duckstation:
[code]

(it appears to not find the bios file, but it works again after downgrading to latest 3.x nightly)

I suspect these core issues are not unique to RetroDreamer and are common to all RPi4 variants, so I think with the arm_64bit fix this can be regar

[2021-10-17 16:05] #1290 closed

[2021-10-17 16:06] #1060 closed

[2021-10-17 16:56] ToKe79 commented on #1510
Try following:
[code]
And same for arcade-content.png

[2021-10-17 16:57] noveleft opened #1534 "Status of IRC channel"
Has the IRC channel been discontinued? [Site](https://lakka.tv/doc/Home/) still mentions freenode. There is an `#lakkatv` channel on Libera Chat with handful of nicks but it doesn't  seen to have been claimed by any of developers.

[2021-10-17 17:17] coldspark29 commented on #1477
Hasn't happened in a while. Could have also been a memory issue, because I exchanged them. Closing.

[2021-10-17 17:17] #1477 closed

[2021-10-17 19:56] silentJET85 opened #1535 "[Feature Request] Option to switch between Limited and Full range RGB"
It would be very useful to have an option to change between Limited (16-235) and Full (0-255) range RGB.
My PC outputs full range by default, which looks wrong on my TV which expects Limited.

Intel and AMD drivers can change this setting by altering some configuration files. But as far as I can tell, this is not possible with the Nouveau driver.

Libreelec/Kodi has an option to compensate for thi

[2021-10-18 01:02] GavinDarkglider commented on #1527
Appearantly your tv doesnt natively support 720p. or maybe I mixed it up.... it might be 720x1080.....

[2021-10-19 12:25] #1527 closed

[2021-10-19 16:37] vus7294 opened #1537 "There's Several Bugs on 3.5.1 on switch"
1. Several Times Lakka failed to boot and Freeze on Logo. And Sometime Lakka SYSTEM file lacks.(no core, no assets glitch)
2. I Can't change Control Mapping(Error saving remap file, FBNeo: i want to swap B and A,That based on XBOX Controller)

[2021-10-19 21:36] ghost opened #1538 "HDMI output issue (RPi4B) Lakka Stable aarch64 3.5.1"
Raspberry Pi 4 B (4gb of Ram)
Lakka Version: Stable RPI4.aarch64-3.5.1

There is a issue with the video output not outputting video on the hdmi port. It does however work once you unplug and re-plug the the micro end of the HDMI cable. Even if I un-commenting that first "# hdmi_force_hotplug=1" option in the config. This was a clean install of this Lakka version on a new sd card,so those config se

[2021-10-21 15:52] ToKe79 commented on #1538
is the same issue present in the latest nightly?

[2021-10-21 17:18] ToKe79 commented on #1538
Please confirm with latest nightly and if the issue is still present, please test with removed patch (that enables CRT/analog video output) from here: https://nightly.builds.lakka.tv/members/vudiq/rpi-no_crt_analog_patch/

[2021-10-21 18:38] jdalmanza commented on #1528
Same issue on pi4 upgraded from 3.4 to 3.5.1
Also using the WiiU Pro Controller -- configured via GUI and not paired to any other devices other than this pi4 since lakka v3.0

please let me know if you need any logs.

[2021-10-21 20:01] Rstation4 commented on #1538
Does this mean I have to do a clean install?

[2021-10-21 20:13] ToKe79 commented on #1538
no, you can update using the .tar in update folder.

[2021-10-21 20:28] Rstation4 commented on #1538
I updated it to the version you provided. It still is not displaying anything, its a blank black screen but it goes back to displaying normally when you unplug and re-plug the hdmi cable

cmdline.txt attatched below
[cmdline.txt](https://github.com/libretro/Lakka-LibreELEC/files/7392634/cmdline.txt)

config.txt
[config.txt](https://github.com/libretro/Lakka-LibreELEC/files/7392637/config.txt)

dis

[2021-10-23 22:12] omegakatana92 opened #1539 "Please add ECWOLF core for lakka"
Hello first time posting but can you add the ecwolf core for lakka because it's missing in the recent builds of lakka. Why I ask because wolf 3d is one of my favorite games of all time and there's no standalone core for lakka yes it's there for retro arch but not for lakka for some strange reason. If your able to do so thank you because I'm using the latest update and I love the os so far when I p

[2021-10-24 06:49] #1528 closed, assigned to ToKe79

[2021-10-25 15:23] trotsky40 opened #1540 "Please add Beetle PCE for higher end devices."
Lakka currently includes PCE Fast, which is great for lower end devices (such as OGA). However, I would like to have the option to use PCE on higher end devices like PCs.

[2021-10-26 14:26] #1540 closed, assigned to nobody

[2021-10-26 19:15] #1539 closed, assigned to nobody

[2021-10-27 13:22] atlus666 opened #1541 "Flycast issue (RPi4B) Lakka Stable aarch64 3.5.2 using Vulkan driver"
This issue tracker is NOT for help or support. Please use one of the following channels for help and support:
- the Lakka forum (https://forums.libretro.com/c/libretro/lakka-tv-general)
- via IRC @ #lakkatv on freenode.net
- #lakkatv on libretro discord https://discord.gg/retroarch

Before you report a bug make sure you have tried the latest nightly version of Lakka at https://nightly.builds.lakka

[2021-10-30 20:22] dmrlawson commented on #1541
Flycast will hopefully work with vulkan when the v3dv driver with Vulkan 1.1 support is released and we update. It should be soonish: https://www.raspberrypi.com/news/vulkan-update-version-1-1-conformance-for-raspberry-pi-4/

[2021-10-31 00:45] Rstation4 commented on #1538
That did not work. Since there is a newer 3.5.2 I will update to that and see how it performs.

[2021-10-31 02:00] Rstation4 commented on #1212
As for the new Lakka OS aarch64 3.5.2 Stable branch jpeg background images still show up incorrectly. (tested on a Full HD tv, with a Raspberry Pi 4 model B 4GB Ram hardware).

[2021-10-31 05:45] ToKe79 commented on #1538
There is also a suggestion to update the RPi firmware to solve the no display issue.

[2021-10-31 08:24] gouchi commented on #1541
According to Khronos, the [conformance application](https://www.khronos.org/conformance/adopters/conformant-products/vulkan#submission_596) has been submitted using Mesa 2.1.3 but it seems it is [not yet integrated](https://gitlab.freedesktop.org/mesa/mesa/-/commits/21.3/src/broadcom/vulkan) as the [commit for enabling Vulkan 1.1](https://gitlab.freedesktop.org/mesa/mesa/-/commit/acb83e1b13d43586b

[2021-11-01 15:58] mediamoshpit commented on #1524
I wanted to wait a while before I approached the devs of xpadneo to see if anything else came to light. For one, I originally missed that it reverses the shoulder buttons on the Mayflash adapter I was using. Then, last night I had a Halloween get together where we were playing horror-themed retro games.

I told anyone who was interested to bring their own controller and out of everyone, three peop

[2021-11-01 19:00] ToKe79 commented on #1524
Thank you for your report.
The blacklisting should be probably `blacklist hid_xpadneo` - but first check if the driver/module is loaded by `lsmod`. most probably `hid_xpadneo` is correct (`modprobe xpadneo` throws error - module not found, `modprobe hid_xpadneo` loads the module).

[2021-11-01 19:09] ToKe79 commented on #1528
On a side note - I had similar issue today on RPi400. I looked at the folders and noticed that the `/storage/.cache` folder and subfolders had weird owner - uid 1023 (no such uid in Lakka). Then I recalled that I had the drive connected to my Android TV box (I was copying over files) which might have messed up the ownership. After fixing the ownership (`chown root:root .cache -R`) pairing started

[2021-11-01 22:28] mediamoshpit commented on #1524
Well, `blacklist hid_xpadneo` definitely did the trick. However, after the system was rebooted and the controller successfully paired, no input was acknowledged. I even tried to remap, but it only ever awaited input presses from the controller as it went through the possible buttons. I then commented out the blacklist, rebooted and found that I of course had control again.

[2021-11-02 00:17] Shadow53 commented on #1412
I have the RG351MP and would also like to see this, especially the sleep mode. I'm willing to try my hand at it, but I am not sure where to start

[2021-11-02 01:16] Ntemis commented on #1412
@davidgfnet any updates on this issue?

[2021-11-02 02:43] Rstation4 commented on #1538
I just checked and I have the latest stable release of the eeprom firmware for the Raspberry Pi 4B.

[2021-11-02 17:29] ToKe79 commented on #1538
If you uncomment those two lines and try on the Samsung 4K, is it still laggy? It might have been laggy due to displaying in 4K. Those two lines should allow 1080p at most, so that is their reason for being in distroconfig.txt (there is no need to run Lakka at 4K on RPi devices anyway).

[2021-11-02 17:36] ToKe79 commented on #1524
The swapped face buttons is actually a known issue / expected behavior with 8BitDo controllers - see https://atar-axis.github.io/xpadneo/#8bitdo-controllers

So you can do:

[code]

Does this fix the issue?

[2021-11-02 19:17] squeezebunny opened #1542 "PiBoy DMG HDMI & Controller issues"
These were last tested with Lakka 3.5.1. The last two versions seem to have no change in the piboy dmg package, and I have commented out the HDMI-related config lines from the 3.5.2 release notes; there was no difference.
My device has a RP4 inside, and is upgraded to the latest firmware, 1.0.5.
### HDMI
HDMI does not work on the PiBoy DMG by default. I have gotten it to work by adding the followi

[2021-11-03 11:05] coreybruce opened #1544 "Retroflag GPi Raspberry pi Zero 2 W AArch64 image"
Hi I hope this isn't the incorrect place to post and I know it is brand new but I just wanted to ask if we could get a Retroflag GPi Raspberry pi Zero 2 W AArch64 image to support the Pi Zero W in the Retroflag GPi as it also supports the new board and got the Retroflag GPi for the PI Zero 2 W. I am willing to do any testing like I have for xbox one controller bluetooth testing for the pi 4.

Than

[2021-11-03 19:11] mediamoshpit commented on #1524
I actually tried that approach first. With 32 on the end, the controller began to rumble and wouldn't stop until the controller was powered down. During that time button presses were unresponsive.

[2021-11-03 21:19] ToKe79 commented on #1524
I do not know if the quirks are documented somewhere, but have you tried `39`?

[2021-11-03 21:27] ToKe79 commented on #1524
Okay, here are the [quirks/flags](https://atar-axis.github.io/xpadneo/#configuration-1)

And the flags are a sum of values of various "switches":

2 if your controller does not support trigger rumble (most clones in compat-mode)
4 if your controller does not support individual motor programming (i.e., 8BitDo controllers)
8 if your controller supports hardware profiles (auto-detected, do not set ma

[2021-11-04 00:44] mediamoshpit commented on #1524
I'm of course happy to go through these for the sake of other users, but I have to admit that none of this is practical for my particular use case. If I have my Pi set up at any of my friend's places and one of their controllers isn't working, I can't really use ssh on their network, get their individual controller's mac addy, then start a lottery of mod quirks before we can start playing.

Also,

[2021-11-04 01:53] mediamoshpit commented on #1524
I'm of course happy to go through these for the sake of other users, but I have to admit that none of this is practical for my particular use case. If I have my Pi set up at any of my friend's places and one of their controllers isn't working, I can't really use ssh on their network, get their individual controller's mac addy, then start a lottery of mod quirks before we can start playing.

Also,

[2021-11-04 02:01] mediamoshpit commented on #1524
OK, I tried 32,33,36,37 and 39. The rumble was in a continuous active state in every instance except for 37 and 39. Unfortunately however, the face buttons remained incorrectly swapped on each occasion.

[2021-11-04 10:14] ToKe79 commented on #1524
If remapping / manual mapping of buttons still works, then I do not see any breaking issue. The issue can also be in the default autoconfig used by RetroArch - the config has the mapping swapped. So I hope you are OK with the things as they are - you just go to input settings, change/fix the buttons, save the config and next time the correct mapping should be applied.

We are not the developer of

[2021-11-04 10:14] #1524 closed

[2021-11-04 11:39] auxfam opened #1545 "incorrect refresh for RG351MP?"
hardware:

RG351MP  (odroidgoadvance builds)

Lakka version:
nightiles most notably: https://nightly.builds.lakka.tv/2021-10-31/OdroidGoAdvance.arm/Lakka-OdroidGoAdvance.arm-nightly-20211031-029641c-rg351mp.img.gz

what I expect:

`Video -> Output -> Set display-Reported refresh Rate == 60.00Hz`

What I get instead:

`Video -> Output -> Set display-Reported refresh Rate == 149.129Hz`

summary:

th

[2021-11-04 13:25] mediamoshpit commented on #1524
That's perhaps the biggest rub in this whole issue. The controls are oddly immune to being remapped in the input menu. They go right back to being reversed. Same thing went for all the various brands of controllers I have previously mentioned. In fact, if I could've just remapped them normally, I never would've opened this issue.

[2021-11-04 20:48] mediamoshpit commented on #1524
I believe I solved it. The issue seems to stem from the auto configs that are baked into Lakka by default. Remapping and saving only lead to the configs snapping back to their install state after 'reset to default controls was selected'. Editing them by hand in a text editor and saving them did the trick.

As for my Mayflash S Pro and the other controllers my friends were using that didn't have an

[2021-11-05 16:26] Cicirifu commented on #1544
Ive tried implementing this but haven't gotten fully there, so Im sharing my findings

* AArch64 requires use of the VC4 KMS drivers, unless I am mistaken. Thus, my jouney began.
* This means none of the config.txt display configuration works;
* You need to implement hardware support for the GPi LCD;
* The GPi screen requires falling edge HSync/Vsync triggers as well as Mode 6 RGB666;
* Turns out

[2021-11-05 16:59] SethBarberee commented on #1544
@Cicirifu We did try to use the VC4 driver on GPI Case 32-bit bit ran into the aforementioned rotation issues...

* GPi LCD actually works fine with VC4 (aside from the rotation). Most of the settings are already handled in the overlay
* There is still a bug open on Retroarch for getting the hints from the driver. When retroarch can get those hints, it can handle the rotation for us.

[2021-11-05 17:02] dmrlawson commented on #1544
There's no requirement for using kms with aarch64. If you look at PiBoy and RetroDreamer we're using aarch64 with fkms for now, which allows us to set up the LCDs. I don't really know anything about the GPi case but maybe this would work?

[2021-11-05 17:04] Cicirifu commented on #1544
I could not get display output however until I added support for the inverted Display Enable. I began with a fairly recent kernel but perhaps I made a mistake there.

As for FKMS, yeah, thatd work, but that still leaves you with the rotation issues.

[2021-11-05 17:15] coreybruce commented on #1544
Hmm interesting findings, hopfully these issues can be resolved. Whats the difference between the arm7l 32bit pi zero and pi zero w image to the Retroflag GPi and doing a pi zero w 2 aarch64 image?

[2021-11-05 17:23] Cicirifu commented on #1544
The GPICase build unlike the Pi1/2/3 builds does not use vc4-kms or vc4-fkms but the firmware driver. This allows the screen to be more easily configured. Other than the display issues, it's fairly straight forward to just take the Pi3 device as a base as the Pi02 is essentially a Pi3.

[2021-11-05 17:26] Cicirifu commented on #1544
For the record here are the patches and overlay I needed to get it to work.

`diff --git a/drivers/gpu/drm/panel/panel-simple.c b/drivers/gpu/drm/panel/panel-simple.c
index 8becb0e31814..b9c387e93955 100644
--- a/drivers/gpu/drm/panel/panel-simple.c
+++ b/drivers/gpu/drm/panel/panel-simple.c
@@ -3015,6 +3015,45 @@ static const struct panel_desc okaya_rs800480t_7x0gp = {
 	.bus_format = MEDIA_BUS_F

[2021-11-05 17:32] coreybruce commented on #1544
Ahh I see

[2021-11-06 11:07] joelddiaz commented on #1507
Seeing what might be a similar failure on a Fedora 35 system on Wayland with Vulkan with a recent Retroarch build from source, and a nightly dolphin core.
[code]

[2021-11-06 16:51] coreybruce commented on #1544
So how's it all going? Been any progress? 😁

[2021-11-06 18:06] gouchi commented on #1494
Can you try to make a test by switching to xmb menu ?

It seems if you set the xmb menu font to ` /usr/share/retroarch-assets/ozone/regular.ttf` it will work after restart RA (Settings tab > User Interface > Appearance > Menu Font)

You will have to enable advanced settings to get access to xmb menu font (Settings tab > User Interface > Show Advanced Settings).

Thank you.

[2021-11-07 18:20] zongyuanliu-bio commented on #1545
Hi, I install Lakka on RG351MP too, why I can not even boot? Have you ever had this issue before?

[2021-11-07 18:22] zongyuanliu-bio commented on #1412
I can not even boot, did you guys have similar issue?

[2021-11-07 18:54] Cicirifu commented on #1544
No luck on AArch64, but ARM should be fairly trivial for the people here to add. I made a build for personal use after the AArch64 attempts failed. Dumped all the changes here: https://github.com/Cicirifu/Lakka-LibreELEC/commits/gpi-zero2 if you want to compile it for yourself. Left some AArch64 patches in there but those can be safely ignored.

[2021-11-08 02:24] coreybruce commented on #1544
Oh that's fine, if it's just arm7l than that doesn't matter, as long as it all works than I am happy with it :D

[2021-11-08 08:47] auxfam commented on #1545
boots just fine.  I use a 16GB sd card placed into the `TF/Int` slot .  fresh install (not upgrade).   I flash onto said card using dd (on linux) after unzipping the image.  as mentioned above this is the image used: https://nightly.builds.lakka.tv/2021-10-31/OdroidGoAdvance.arm/Lakka-OdroidGoAdvance.arm-nightly-20211031-029641c-rg351mp.img.gz

[2021-11-08 21:51] zongyuanliu-bio commented on #1545
I tried, it failed. When I first got the machine, Lakka works, then second day when I boot it, it just faild, other firmwares (ArkOS or 351ELEC) are fine, let me try again.

[2021-11-09 04:54] coreybruce commented on #1544
Once I get my pi zero W 2 delivered I will test it out but like I said I don't mind if it starts off as a Arm7l build as long as it all works :)

Thanks again for the test build image

[2021-11-09 16:05] Cicirifu commented on #1544
You build it yourself. I'm not sure if anyone here is okay with me sharing download links, and I don't want to have them floating around the internet anyway.

[2021-11-10 05:41] coreybruce commented on #1544
Alright so do just use make to build it? what the go with the building process? :)

[2021-11-10 12:24] rudism commented on #1544
@coreybruce [the docs](http://www.lakka.tv/doc/Compiling-Lakka/) are a good place to start. Personally I used [docker](https://github.com/libretro/Lakka-LibreELEC/blob/master/Dockerfile) to do it.

[2021-11-11 04:14] coreybruce commented on #1544
It says do

[code]
Do i need to change anything to make a pi zero 2 w image instead?

[2021-11-11 04:38] coreybruce commented on #1544
Hmm ran into this error

[code]

[2021-11-11 04:43] paqman3d commented on #1523
Okay, so I ended up installing 3.5.2 on my Pi3 and notice the same issue with the 8bitdo SN30's menu button. However, unlike the Retrobit Sega pad, the SN30 didn't work at all (including wired) until I blacklisted the xpadneo stuff.

I'm providing the output for lsmod from my pi3, but like I said -- same issue:

`Lakka (official): 3.5.2 (RPi3.aarch64)
Lakka:~ # lsmod
Module                  Size

[2021-11-11 09:22] duduke commented on #1544
@coreybruce According to @Cicirifu commits in his github, I think you should run:
`DISTRO=Lakka PROJECT=RPi DEVICE=Pi02GPi ARCH=arm make image`
Just got my 02w, gonna try it later today.

[2021-11-11 09:39] coreybruce commented on #1544
Ok so I tried that but got this error

[code]

[2021-11-11 10:12] Cicirifu commented on #1544
Build through Docker and it'll get rid of all these annoying "it works on my machine" build errors.

`docker build -t lakka_build_env .`
and then my simple build helper in `build.sh`

[2021-11-11 11:01] coreybruce commented on #1544
Ok thanks for the help, I'll try that also I am on Manjaro Gnome

[2021-11-11 11:53] Cicirifu commented on #1544
Depends entirely on your personal setup. In your case, probably a yes. I tend to leave using sudo as an exercise to the user.

[2021-11-11 12:07] coreybruce commented on #1544
Hmm ok it should probs should be standandazed if it does or doesn't, I had to add sudo to the script to make it work but even in docker I ran into a issue I think, it says I don't have zlib so I installed it and it still gives me the error

[code]

[2021-11-11 13:19] coreybruce commented on #1544
It's inside ```/mnt/Storage/Project/Lakka-LibreELEC``` which is where build.sh is, I do see the projects folder there. I don't have any experience with docker so I don't know hoe to debug this and will need help if I am doing something wrong.

[2021-11-11 13:22] Cicirifu commented on #1544
You have it stored there, but your build inside Docker operates in a completely different filesystem. A virtual machine of sorts. Nothing inside of it should have or be given knowledge of folders outside of it, because it will never be able to find it.

But this conversation is getting tiresome so I advise you to google for "Retroflag GPi Discord" and you'll likely stumble upon one that may or may

[2021-11-11 14:03] coreybruce commented on #1544
Look you can't recommended a way to do something and than abandon a user when it's "tiresome" that's the point of support, it's a two way street of me trying to help you so you can help me and I really want to get this going properly and build the image but I need you guys help for this to happen. You didn't also tell me I needed to log out to properly take affect and work properly which is why it

[2021-11-11 14:18] Cicirifu commented on #1544
I tried being helpful by falling back to a more pragmatic, faster, solution of hinting you towards the image, which is what you initially asked for, while still paying mind to my own concern of sharing random downloads. This because it was obvious the manual build route was going nowhere and would require more support than a Github Issue should be used for. (This is not a chatroom nor a helpdesk)

[2021-11-11 14:29] coreybruce commented on #1544
Oh I'm very sorry, I thought thought you were a dev but didn't check, I didn't realize you weren't a developer, I still wouldn't mind downloading a image from you tho.

"This would be because I have no idea what you're on about and you're acting like this is something obvious, when this is something entirely specific to your situation."

I was talking about what was needed to make docker properly

[2021-11-11 14:41] coreybruce commented on #1544
One more thing tho, from my investigation I think there is a issue with either the docker container or the script it uses in the docker container because I figured out how to go into the container and it has the package it claims is missing which is odd..

[2021-11-11 14:45] coreybruce commented on #1544
@dmrlawson @SethBarberee @rudism any of you guys have a idea on whats happening? you might know more than I do and I'm willing to learn and help! :D

[2021-11-11 14:58] coreybruce commented on #1544
Also want to add that this is the script for the gpi case

https://github.com/RetroFlag/retroflag-picase

[2021-11-11 15:26] gouchi commented on #1544
You can try this [testing image](https://nightly.builds.lakka.tv/members/gouchi/1544/Lakka-Pi02GPi.arm-3.5-devel-20211111161748-ec3765b.img.gz).

Thank you.

[2021-11-11 16:36] gouchi commented on #1544
No as I have just compiled [Cicirifu tree](https://github.com/Cicirifu/Lakka-LibreELEC/commits/gpi-zero2).

[2021-11-11 16:49] Cicirifu commented on #1544
It comes with the same shutdown script as the regular GPICase / Pi0 build, and there's no reason for it not to work. Works fine on my end and the people I shared this with.

[2021-11-11 16:55] coreybruce commented on #1544
Awesome can't wait to try, again thank you very much and I will do what ever I can to help with any issues on my end.

[2021-11-11 20:05] duduke commented on #1544
I've tried the image @gouchi shared. Most of the things seem to be working.
The emulation speed is much much worse compared to the RecalBox beta.
I've compared aburner2 on FBNeo on both RecalBox beta and Lakka, and Lakka is much slower.
I've verified that i'm not throttling:
[code]
The CPU seems to stay at 600Mhz even when the FBNeo is running:
[code]

Any ideas?

[2021-11-11 20:11] Cicirifu commented on #1544
`Lakka:~ # vcgencmd measure_clock arm
frequency(48)=1000000000`

Running at 1GHz in menu and benchmarking Golden Sun in mGBA.

[2021-11-12 07:38] coreybruce commented on #1544
ok so from my testing it works well, I tested GB, GBC and GBA as well as Mega drive, NES and SNES. there was a issue with aspect ration being thin and squashed but I fixed it by setting the aspect ration to 4:3 in the video settings. everything seems to all be working all at full speed but I did notice a little audio pops on SNES when testing Super Mario world.

The default rgui is ok and works fi

[2021-11-12 07:47] Cicirifu commented on #1544
I have gotten one additional report on my end of someone stuck on 600MHz. While I don't have the same issue, my current image is slightly different. However, before sharing links I did benchmarking as well and none of this showed, running mGBA and PCSX ReARMed at full speed in known demanding games, matching performance I expected. (I have a GPi running a Pi3A with Lakka 2.3.2)

So, anyhow, might

[2021-11-12 09:00] duduke commented on #1544
@Cicirifu can you post your config.txt and distroconfig.txt please?
Thanks.

[2021-11-12 09:29] coreybruce commented on #1544
Yeah with the default image I didn't run into game speed issues

[2021-11-12 10:36] vus7294 commented on #1494
It Works, But I Can't Set Language with OZONE UI. This Seems Bad Glitch. Thanks.

[2021-11-12 16:21] paqman3d opened #1546 "No audio through Composite output"
- What system hardware are you using?

Pi3 with 64bit Lakka 3.5.2

- What did you do?

Hooked up system via composite out.

- What did you expect to happen?

Have sound

- What happened instead?

No sound.

Basically was testing the CRT fix and did a clean install. However, after loading any game I have no sound output at all. Is there something that changed in the config.txt on the lakka partitio

[2021-11-12 16:55] ToKe79 commented on #1546
I think you have to change the audio device to something appropriate for the analog output. I think somebody in discord mentioned setting it to `default:CARD=Headphones` worked for them.

[2021-11-12 18:23] Cicirifu commented on #1544
I suspect the 600MHz thing is a red herring. Possible just the CPU scaling. Ive gotten two more confirmations of the 600MHz thing now but no performance complaints. Golden Sun on mGBA or FF7/8/9 on PCSX ReARMed working essentially flawlessly, or certainly not speeds Id expect from a single-core 600MHz. It's possibly just the CPU governor indicating it doesn't need to run all cores at full speed? I

[2021-11-12 20:14] duduke commented on #1544
I'm still getting a slowdown with LAKKA.
Specifically AfterBurner 2 on FBNeo - Slow on LAKKA, Fast on the RecalBox beta.
This is the clock speed on RecalBox:
[code]

[2021-11-12 20:24] Cicirifu commented on #1544
Is it possible FBNeo is compiled incorrectly / not optimally?

[2021-11-12 20:27] duduke commented on #1544
Could be, but i've also tested with MAME which is also slower than RecalBox.
Maybe the cores are compiled with the wrong CFLAGS?

[2021-11-12 20:30] Cicirifu commented on #1544
Worth looking into. It should be compiling with 32-bit cortex-a53, neon-fp-armv8 and FBNeo specially with profile=performance and HAVE_NEON=1.

Ill do a CFLAGS comparison with Recalbox tomorrow

[2021-11-12 21:38] davidgfnet commented on #1412
Currently focusing the efforts on getting this up and running on the new Lakka v4 branch, perhaps we can backport stuff later. There's better kernel support for many of the issues explained here.

[2021-11-13 00:26] coreybruce commented on #1544
Hmm interesting, if that is the case and it does need to be recompiled will we get a new test image?

[2021-11-13 05:06] paqman3d commented on #1546
Yep, that did the trick. Happy to have CRT output working again!

[2021-11-13 05:06] #1546 closed

[2021-11-13 17:11] Cicirifu commented on #1544
Did find some issues on the CPU speed front. Turns out cpufreq wasnt present, meaning all scaling was effectively borked. The included Linux kernel config is based on RPI2's, so this was probably a mistake. Enabling `CONFIG_ARM_RASPBERRYPI_CPUFREQ` didnt end up enabling cpufreq for me and since I am not knowledgeable when it comes to Linux kernel configs, I just took Recalbox's config and presto.

[2021-11-13 17:46] ToKe79 commented on #1523
Sorry, there was a typo above, the module name is `hid_xpadneo`, not `xpadneo`, so you have to put `blacklist hid_xpadneo` to the `blacklist.conf` file.

[2021-11-13 18:19] Cicirifu commented on #1544
Yup. Getting same FPS on Recalbox. So if someone could look into the Kernel config, that'd be sweet. I committed the Recalbox one to my fork for now but that shouldn't be blindly copied over to Lakka's branch.

[2021-11-13 18:57] ToKe79 commented on #1532
Hi @s3tupw1zard
I added the driver locally, you can test image from https://nightly.builds.lakka.tv/members/vudiq/rk3326+rtl8821cu/
Let me know, if the driver works as expected and if yes, I can merge the changes.
Thank you!

[2021-11-14 06:45] zongyuanliu-bio commented on #1456
My RG351MP also can not boot for Lakka, but good for arkos and other OS. It seems that it is related to the wifi driver.

[2021-11-14 19:42] yikesmeguts commented on #1383
Update:  I just updated my GPiCase/Pi Zero 1 W to Lakka 3.6 and I was able to open multiple NES roms using Beetle Supafaust.  I don't play many SNES titles on my GPiCase, and I have been able to get by with the older Snes9x core, so it has been a while since I have tried Beetle Supafaust.  When I opened this issue a few months ago, Supafaust would not launch for me at all.  It is working for me no

[2021-11-14 23:41] ab77 commented on #1538
Possibly same? problem here with 1080/60Hz HDMI pico projector AAXA P300 running on RPi4 aarch64.

The last known version to boot with this setup is Lakka 3.3.

I've tried 3.5, 3.5.1, 3.5.2 and now 3.6. The projector input momentarily detects 1080 60Hz signal, but then displays no signal.

Tried commenting out `hdmi_max_pixel_freq`, adding `hdmi_safe=1`, etc. to no avail.

[2021-11-15 01:49] Rstation4 commented on #1538
I've updated to the newer **3.6 version** and it still has this issue on my Vizio 1080P  Full HD TV. The latest stable firmware for the Raspberry Pi 4 **eeprom** is still that from the April 2021 release. I only use the stable branch **firmware** for my Raspberry Pi 4 unit.

4K at least in my area of California seems to be the norm that has replaced most HDTV sets that many of us own. 8K actually

[2021-11-15 03:05] paqman3d commented on #1523
While I still haven't tested this on the Tinkerboard (it's unhooked at the moment lol), I made the changes on my pi3 and now the 8Bitdo SN30 doesn't work. It will sync fine, but there's no on screen prompt or control. When I reverted it back to the typo, it returned to the previous behavior.

[2021-11-15 10:08] coreybruce commented on #1544
Should we get @gouchi to make a new test image with the changed or not yet?

[2021-11-15 11:21] Cicirifu commented on #1544
Oh. Right. My test image doesnt have Samba in it because everyone on my end keeps asking to remove it as Samba is an annoying mess, where SSH and SFTP(SCP) are much less frustrating to transfer files with.

-------- Original Message --------
On Nov 15, 2021, 12:14, Corey Bruce wrote:

[2021-11-15 12:12] ToKe79 commented on #1544
I built the image, you can get it here: https://nightly.builds.lakka.tv/members/vudiq/rpi02gpi/
I made minor change to the kernel config file:
[code]

[2021-11-15 12:27] coreybruce commented on #1544
Hmm I see, I've never had issues with it, in fact I found it a convenient options to copy stuff over and always used it with Retropie and Lakka

[2021-11-15 12:36] ToKe79 commented on #1544
Samba does not always work as expected due to security measures implemented after wannacry outbreak, iirc. Using SCP/SFTP client (like the opensource WinSCP) can be really more convenient to copy files over network. You use the same credentials (default root:root) as for SSH.

[2021-11-15 12:55] coreybruce commented on #1544
Samba should only has access to the home folder which only needs normal user permission.

[2021-11-15 12:58] coreybruce commented on #1544
Is anyone else still getting audio popping and crackling on some games?

[2021-11-15 13:17] Cicirifu commented on #1544
Set alsathread for audio and try a 48kHz sample rate. Also note the GPi in general has rather poor audio noise on top of that.

-------- Original Message --------
On Nov 15, 2021, 13:58, Corey Bruce wrote:

[2021-11-15 13:46] coreybruce commented on #1544
Alsathread as on by default but hmm it seemed to add more popping when I did that but I changed it from 43Hz to 40Hz made it do it far less

[2021-11-15 16:32] jdalmanza commented on #1383
interesting @yikesmeguts i just upgraded mine and it still seems to crash. I verified that the config override is present for the "st" single-threaded option but still did not work. I'll try a fresh flash on a new SD and see if the behavior is the same

[2021-11-15 19:16] yikesmeguts commented on #1383
Further update: it was definitely not my imagination, I was able to launch several random roms in Supafaust, switched core association to Snes9x, and then switched back to Supafaust. On the PiZero1, Snes9x definitely performed more smoothly, Supafaust was a bit choppy with significant audio stuttering. Some roms would not launch in Supafaust, but others definitely would. When I opened the issue, S

[2021-11-15 23:17] GavinDarkglider commented on #1412
For the sleep issue, you might want to check what keyboard button the kernel redirects that command to. I had to patch dts in L4T builds to correct this, or else everytime you pushed the button it would shutdown.

[2021-11-16 08:55] Brunnis commented on #1544
I just updated my GPi Case to Zero 2 and have been testing Recalbox 7.3 beta 28 on it. Audio works quite terribly out of the box due to three things:

1. Rewind feature turned on by default. Causes performance degradation which results in audio popping.
2. RetroArch is set to use its "pulse" audio driver instead of "alsathread". For some reason, synchronization/buffering seems to be off with "puls

[2021-11-16 11:06] coreybruce commented on #1544
Ahh interesting, also didn't know that was a issue with the original pi zero also on this image it has the audio set to alsathreaded by default :)

[2021-11-18 17:39] jiangotto opened #1549 "Can lakka be ported to other soc like F1C200S？"

[2021-11-18 18:33] s3tupw1zard commented on #1532
Hi @ToKe79
The driver doesn't seem to load. The LED isn't blinking at all.
Thank you

[2021-11-19 06:16] coreybruce commented on #1544
I've ran into a issue, I don''t think it has anything to do with lakka but maybe a connection issues tho the wiring looking fine but I no longer have working controls other than brightness and volume, I have another pi zero 2 W with its own SD card with a fresh install of lakka and it does the same thing. Would it have to do with the thin Wire that goes from the cord to the USB port to the other b

[2021-11-19 07:43] coreybruce commented on #1544
![IMG20211119174316](https://user-images.githubusercontent.com/8393780/142584614-ea6f8acc-c211-450d-a52b-7d443385fead.jpg)
![IMG20211119174248](https://user-images.githubusercontent.com/8393780/142584624-3b081d50-9161-411c-bb06-df25fd80d19a.jpg)

[2021-11-19 09:41] duduke commented on #1544
Have you tried other images (Recalbox, retropie)?
If it still doesn't work, get a fresh eraser and rub the pins and the holes, and then clean it off with 90%< IPA.

[2021-11-19 09:58] coreybruce commented on #1544
Yeah I don't think it's the OS to blame, it was working fine untile I took the pi out and put another pi zero 2 W into it to set that one up so it could be user error on my end but I did clean it with methylated spirits and still nothing, I will try the other images just in case but I really think it's my own user error.

You think I could be wrong tho?

[2021-11-19 10:01] duduke commented on #1544
Worst case, you can just get another "cart" and then have one dedicated for each Pi.

[2021-11-19 11:05] Cicirifu commented on #1544
Its the USB flatcable that handles the buttons, not the contacts. That ribbon is easy to damage from what I hear. It only contains the D+ and D- datalines so you could make a bodge yourself by soldering wires. Try reseating the USB and the flatcable and if that doesnt work, you need a new cart.

-------- Original Message --------
On Nov 19, 2021, 11:02, Dudu Akiva wrote:

[2021-11-19 14:28] paqman3d commented on #1523
I tested the hid_xpadneo edit on the Tinkerboard as well and it also broke the gamepad (Retrobit sega genesis) working. Reverted back to 3.4 again.

Also of note that the Retrobit and 8bitdo pads are paired for xinput.

[2021-11-20 00:45] coreybruce commented on #1544
Might have to get a new cartridge haha, oh well they are only $23 AUD but still should be higher quality and less prone to breakage especially when I haven't done anything to it.

[2021-11-20 02:46] coreybruce commented on #1544
Might have to get a new cartridge haha, oh well they are only $23 AUD but still should be higher quality and less prone to breakage especially when I haven't done anything to it.

[2021-11-20 09:09] beatle-fan opened #1550 "f2,f3,f6,f7 and f8 are all not working."
- Which version of Lakka are you using?  3.9
- What system hardware are you using? pc (HP)
- What did you do? I went into hotkeys to map some keys
- What did you expect to happen? To map the keys
- What happened instead? They didn't allow me to map them

[2021-11-20 19:23] zyliu-OU opened #1551 "RG351MP console can not boot Lakka 3.5.2"
Before you report a bug make sure you have tried the latest nightly version of Lakka at https://nightly.builds.lakka.tv/latest/. Your bug might be already fixed.
Tried all versions of lakka for RG351MP, even the lastest 3.6 and nightly 11192021.

If you are sure that it's a bug in Lakka, please answer the following questions:
- Which version of Lakka are you using? 3.5.2
- What system hardware are

[2021-11-20 19:37] zongyuanliu-bio commented on #1551
RG351MP doesn't have built-in Bluetooth and WIFI modules. Maybe it's the problem reason?

[2021-11-22 04:50] smf-gitwit opened #1552 "Can not pair any xbox controller to any build"
- Which version of Lakka are you using? Lakka-RPi3.aarch64-nightly-20211121-465562e,Lakka-RPi3.aarch64-3.6, or Lakka-RPi2.arm-3.6
- What system hardware are you using? Pi 3 B v1.2
- What did you do? Access Lakka file system via SAMBA and add file named xpadneo.conf with following contents to the share Configfiles → subfolder modprobe.d:  "options bluetooth disable_ertm=1" > Restart the box.
- What

[2021-11-22 10:11] Brunnis opened #1553 "config.txt settings do not prevent 4K resolution on Pi 4"
Since a few releases back, the config.txt file on the Raspberry Pi 4 builds contain the following two lines that are supposed to prevent the Pi 4 from running at 4K 30Hz when connected to a 4K display:
[code]
However, these lines have no effect when using the full KMS driver, so the Pi still happily starts in 4K 30 Hz. As far as I know, there's no native Linux way of putting an upper limit on the

[2021-11-24 01:36] mbc3 opened #1554 "WiFi driver listed null, still connected to Internet"
Under the drivers section, my WiFi driver is listed as null, and I am unable to select anything else.

I SSH'd into my Pi4 and set up my network there - and ip addr show + pinging confirms that I have access to the Internet and am on my network.

I'm not sure if this is merely a graphical display bug or if it's indicative of anything else - I'm unable to download thumbnails, for example.

[2021-11-24 01:56] Rstation4 commented on #1538
I have some logs from Lakka OS when I had it runnng on  3 devices, one Full HD TV (old 1080P tv), a 4K computer monitor (samsung U28E570D) and a 4K samsung TV (I've tend to see people I know own these types or something similar in TV OS). It seems not just display has issues but something which might be tied into display settings has also affected framerates or refresh rates as there was performan

[2021-11-24 13:35] arunningpir8 commented on #1552
I also have this issue.  It appears to be a problem with series x/s controllers, as the original controllers for Xbox one work fine.  To fix it the image needs to be recompiled with "Privacy = device" in bluetooth/main.conf.

Seeing as how the filesystem is read only, a new image needs to be built.  I am trying to get my dev machine up and running to test this but reports online show that is the f

[2021-11-24 16:14] auxfam opened #1555 "further performance regressions on NUC11 (Bean Canyon) intel system / gl render issues?"
Lakka-Generic.x86_64-nightly-20211119-d3a7bbf.img.gz

    intel NUC8 Intel® Core™ i5-8259U Processor (6M Cache, up to 3.80 GHz)
    note: this has 128 EDRAM as a L4 cpu/GPU cache

    installed latest nighties as above
    run flycast
    with gl backend (also tested with glcore)
    load Dead or Alive
    let intro run
    play a couple of cpu matches

    in game match (v cpu) is expected to per

[2021-11-24 19:45] ToKe79 commented on #1552
should be fixed now with 9e4af94432e9a176f2b42dcc7785f961306df11a.
you can retest with next nightly build.
you might need to clean the bluetooth cache (iirc `rm -rf /storage/.cache/bluetoothctl`).
also test if `disable_ertm` is needed, but I think it is (due to older kernel).

[2021-11-24 19:46] ToKe79 commented on #1550
what actions are you trying to bind/map? because I was able to map all of the above function keys.

[2021-11-24 21:09] beatle-fan commented on #1550
I was trying to map volume up, down, mute and brightness up and down.

[2021-11-25 15:34] FishBulb32 opened #1556 "Snes9x (2010) fails to load save states on RG351V"
- Which version of Lakka are you using?
3.6 and the latest nightly as of today.

- What system hardware are you using?
Anbernic RG351V

- What did you do?
Run a SNES rom using Snes9x (2010). Create a save state. Then load the save state.

- What did you expect to happen?
Save state should load.

- What happened instead?
System crashed as the save state was selected. Retro arch reloads.

It would b

[2021-11-26 05:20] smf-gitwit commented on #1552
Sadly not. Installed a fresh install of 9e4af94 and paired a xbox one s controller with the current firmware the first time.Installed a second copy of 9e4af94 on a 2nd micro sd with the disable_ertm=1 in xpadneo.conf and tested. The controller would not pair.Went back to the fist install and the controller would no loner pair.Cleared the cache on first install rm -rf /storage/.cache/bluetoothctl a

[2021-11-26 20:47] dantini32 opened #1557 "DuckStation on Switch has performance issues in-game with Um Jammer Lammy"
- Which version of Lakka are you using?
11/25/2021 nightly
- What system hardware are you using?
Nintendo Switch
- What did you do?
Play a stage in Um Jammer Lammy running in DuckStation
- What did you expect to happen?
The game runs at full speed
- What happened instead?
The game slows down considerably to unplayable framerates

Um Jammer Lammy is the only game I've run that has performance issue

[2021-11-27 13:43] coreybruce commented on #1544
Noticed with Sega Genesis if you try and netplay with from GPI to GPI using picodrive or Genesis Plus GX the person connecting to the host would lock up Lakka but when I connect to a PC using Lakka to play the game like Streets of rage it's fine.

[2021-11-27 16:15] smilerliu commented on #1544
If you are using cicirifu's test image, it's based on a version of Lakka right before the official 3.6 release. It doesn't include some netplay fixes that are in the official 3.6 release. The other test image in this thread was made in 20111115 and might include the netplay fixes, but I can't tell because I can't find the git repo for it.

If netplay is important to you, consider going to the GPI

[2021-11-27 23:56] ToKe79 commented on #1544
I updated the image available [here](https://nightly.builds.lakka.tv/members/vudiq/rpi02gpi/).

[2021-11-27 23:59] smilerliu commented on #1544
Is it possible to make the git repo used to make this image public, so others can verify things or build on top of it? It seems the official Lakka support for gpi case + zero 2 w won't be available for a while.

[2021-11-28 00:04] ToKe79 commented on #1544
sure &rarr; [this one](https://github.com/ToKe79/Lakka-LibreELEC/commits/gpi-zero2%2Bfixes)

[2021-11-28 02:01] coreybruce commented on #1544
Who do we contact to get the image pushed to the repo as a stable image and get proper updates from the updater?

[2021-11-28 05:59] smilerliu commented on #1544
My guess is that the devs would like to have an aarch64 image for zero2, because it should perform better than a 32-bit system. I just don't know whether there is enough manpower to make it happen soon enough.

I'm personally totally fine with a 32-bit system if the 64-bit system is too far away.

[2021-11-28 06:32] coreybruce commented on #1544
Yeah I am fine with it starting off 32bit also, it probs wont make much of a noticeable difference anyways.

[2021-11-28 07:08] smilerliu commented on #1544
Judging from the code, the mgba core is disabled. Is that true? If so, any particular reason?

[2021-11-28 09:54] ToKe79 commented on #1544
@smilerliu this was done by @Cicirifu, but I can enable it and rebuild the image.

[2021-11-28 09:57] ToKe79 commented on #1544
the mgba core is included - it was removed at one line and added at the end of the list.

[2021-11-28 10:54] smilerliu commented on #1544
Sorry I misread the code... Thanks for checking!

[2021-11-28 18:03] ToKe79 commented on #1544
I ported @Cicirifu's work to our development branch, which is based on LibreELEC master branch. I also compiled image that can be tested.

Branch: https://github.com/ToKe79/Lakka-LibreELEC/commits/LE-master-Pi02GPi
Image: https://nightly.builds.lakka.tv/members/vudiq/rpi02gpi/Lakka-LE-master/

[2021-11-28 21:14] Lucius1202 opened #1558 "RG351V battery indicator and charging."
I would like to report a problem with the battery indicator.

- Which version of Lakka are you using?
- Lakka (official) 3.6
- What system hardware are you using?
- Anbernic RG351V
- What did you do?
- Charge the device.
- What did you expect to happen?
- The battery normally charges up to 100%
- What happened instead?
- The battery gauge does not rise above 43 percent and the LED behaves accordin

[2021-11-29 10:52] yikesmeguts commented on #1544
I have installed the 28 November build on a spare SD card on my GPiCase/Pi Zero 2, and upon reaching the RA home screen, the Dpad and buttons are all unresponsive.  But the Dpad and buttons work fine when using the 3.6-devel build.  I have seen a post from another user on a GPICase discord channel describing the same behavior.  I'll gladly test any updated LE master builds as they are posted, and

[2021-11-29 10:56] coreybruce commented on #1544
So this nightly build that Toke79 has created has this issue?

[2021-11-29 11:34] yikesmeguts commented on #1544
I'm not certain whether or not this behavior is related to the differences in the code between the 3.6 and the LE master braches, but when my GPi is booted from the Lakka-Pi02GPi.arm-LE-master-devel-20211128 build the Dpad and buttons are unresponsive, and when it is booted from the Lakka-Pi02GPi.arm-3.6-devel-20211127 build the Dpad and buttons work nromally.

[2021-11-29 12:13] coreybruce commented on #1544
I Can confirm this devel image has the exact same issue, gonna revert back and wait for another update that fixes this.

[2021-11-29 16:07] smilerliu commented on #1544
I see that the LE branch has a new kernel config while the one based on the 3.6 release uses mostly the recalbox kernel config. The new kernel config might miss something that causes this bug.

[2021-11-29 16:28] ToKe79 commented on #1544
I used the recalbox config. The changes are only defaults made by `make olddefconfig`. Then I copied the resulting `.config` into the tree and put back placeholders for `@DISTRONAME@` and `@INITRAMFS_SOURCE@`. I  will compare the commits when I get home, maybe I missed a package that needs to be included.

[2021-11-30 16:31] Cibomatto2002 opened #1559 "Raspberry Pi: Can't connect to Wifi"
- Which version of Lakka are you using? 3.6
- What system hardware are you using? Raspberry Pi 4
- What did you do? try to use Wifi
- What did you expect to happen? Wifi to work
- What happened instead?  had problems connecting to Wifi I could see the networks, and I put in the password for my network but it didn't seem to connect)

[2021-12-01 15:05] Mr-Jake opened #1560 "Flycast Libretro Upstream Repo"
Lakka still builds Flycast from the Libretro repo:
[code]

However, there is a notice in the about section in the Libretro repo.

<blockquote>

About

Flycast is a multiplatform Sega Dreamcast emulator. **NOTE: No longer actively developed, use upstream repo for libretro from now on** - https://github.com/flyinghead/flycast
</blockquote>

Should Lakka switch to the Flycast Libretro upstream repo?

[2021-12-01 15:38] Ntemis commented on #1560
We will if this is valid. Thanks for noticing it

Στις Τετ, 1 Δεκ 2021, 17:05 ο χρήστης Mr-Jake ***@***.***>
έγραψε:

[2021-12-06 02:40] sharkytowers opened #1561 "WiFi/Ethernet Issues with NUC11"
Lakka does not recognize Ethernet or Wifi adapter on NUC11 (1165G7).  Details in the thread below.  I'm fairly confident this is a Lakka issue as everything else seems to recognize them (other linux installs, windoze, etc)

https://forums.libretro.com/t/nuc-11-networking-not-working-wireless-or-ethernet/35837

If you are sure that it's a bug in Lakka, please answer the following questions:
- Which

[2021-12-06 12:58] gouchi commented on #1561
We will have to enable [CONFIG_IGC](https://github.com/libretro/Lakka-LibreELEC/blob/master/projects/Generic/linux/linux.x86_64.conf#L2011) in the kernel config for the Ethernet.

For the WiFi it seems we are missing some firmware for iwlwifi driver.

[code]

We will have to update [iwlwifi firmware](https://github.com/libretro/Lakka-LibreELEC/blob/master/packages/linux-firmware/iwlwifi-firmware)

[2021-12-06 21:32] Graham15 commented on #1551
Hi zongyuanliu-bio. I'm running Lakka 3.6 on RG351MP without any issues with or without the wireless dongle attached. Have you tried different micro sd cards?

[2021-12-06 21:38] Graham15 commented on #1558
I have noticed the same with my Anbernic RG351MP. 351ELEC reports 100% but Lakka 3.6 reporting 39%.

[2021-12-06 22:45] zongyuanliu-bio commented on #1551
Yes, I have sandisk and samsung, also with 16GB 32GB or 64GB, all failed.

[2021-12-06 23:42] Graham15 commented on #1551
That's really odd, especially as you can write to these cards with other firmware, so it's not your card reader.

[2021-12-06 23:45] zongyuanliu-bio commented on #1551
For the card reader, I have a USB 3.0 version, I have SD adapter version, I tried all, very strange, you all good but mine is not, the machine also don't have issue since I can install ArkOS and run smoothly. The Retroarch in ArkOS run very well, so I really don't know what happened.

[2021-12-07 00:06] zongyuanliu-bio commented on #1551
After inserted fresh flashed card, it will boot with a lakka logo, then it crash to this.
![image](https://user-images.githubusercontent.com/74483335/144942133-e943336e-509f-4405-a3be-d195aabb3365.jpeg)

[2021-12-07 00:10] zongyuanliu-bio commented on #1551
If I click reset button, sometime it will give other results.![image](https://user-images.githubusercontent.com/74483335/144942541-86c833d3-0101-4827-b9ff-c72e5de602a8.jpeg)

[2021-12-07 03:51] RobLoach commented on #1560
It looks like most of libretro references the libretro/flycast repo:
https://github.com/libretro/libretro-super/blob/master/recipes/linux/cores-linux-x64-generic#L114

[2021-12-07 06:53] Graham15 commented on #1551
You have probably already tried this. Try 3.6 or a nightly build. Download the firmware again in case downloaded version has become corrupt. If you have an sd card in slot 2, remove and boot only off slot 1. Not sure what else you can try apart from googling this error and waiting for a dev to respond. Good luck.

:)

[2021-12-07 16:44] gouchi commented on #1560
Yes we will have to switch to upstream repository  [https://github.com/flyinghead/flycast](https://github.com/flyinghead/flycast).

It will be done when we release the new Lakka version with RA version 1.9.14.

[2021-12-07 16:53] gouchi commented on #1561
@sharkytowers Can you make test with this [image](https://nightly.builds.lakka.tv/members/gouchi/1561/Lakka-Generic.x86_64-3.6-devel-20211206230642-9e4af94.img.gz) ?

Thank you.

[2021-12-09 11:44] RobLoach commented on #1557
If other games are functional, it seems like a core/DuckStation issue.

[2021-12-09 11:45] RobLoach commented on #1553
I've heard there's been a bunch of changes in LibreELEC 10 that help with 4K on Pi 4. It may be worth waiting for an update to LibreELEC 10 to look for 4K support on the Pi4 in Lakka:
https://libreelec.tv/2021/11/03/libreelec-matrix-10-0-1/

[2021-12-09 11:47] RobLoach commented on #1549
Is that an Allwinner? Lakka uses LibreELEC, so if LibreELEC can do it, then yes.

[2021-12-09 11:49] RobLoach commented on #1523
Could it be the autoconfigs? Are you able to do inputs and export to see if they're different? https://github.com/libretro/retroarch-joypad-autoconfig

[2021-12-09 11:50] RobLoach commented on #1484
I remember this happening too, but I believe it was fixed. Are you still experiencing it?

[2021-12-09 11:51] RobLoach commented on #1442
Just tested 3.6 on a RPi3 and didn't experience any freezes. Have you had any recurring issues on later Lakkas?

[2021-12-09 11:54] MessiahMozgus commented on #1442
A week ago it refused to update after 3 tries. It downloaded but never do anything with the update. Rebooting did nothing. I'm back on retropie now after finding out how Lanka broke RCA jack support months ago. I just got a Sony Trinitron so Lanka is no use to me now

[2021-12-09 16:08] Ntemis commented on #1442
Version 3.3 is no more the current version and we didn't get any updates on this after newer ones have released

[2021-12-09 16:08] #1442 closed

[2021-12-09 16:24] #1557 closed

[2021-12-09 19:13] theflyingape opened #1562 "build failure: px68k is missing a commit?"
**There is no commit 'ea6e5a7' on branch 'master' of package 'px68k'! Aborting!**

Weird, is this a github package issue?  I am pasting the console output:
[code]

[2021-12-10 02:03] ups-ups opened #1563 "Recording / Streaming is not working. (lakka 3.6 or latest nightly build)"
- Which version of Lakka are you using?
 Lakka-RPi3.aarch64-nightly-20211125-9e4af94.img.gz
- What system hardware are you using?
 Raspberry Pi 3B plus
- What did you do?
 I set my twitch streaming url in 'Recording' config. After loading contents, I started streaming via quick menu.
- What did you expect to happen?
 Streaming to twitch. I checked the streaming url is correct. I can stream with sa

[2021-12-10 15:18] bonswouar commented on #1563
After some time digging into that (and asking for help on discord) I was finally going to create an issue, good to see I'm not the only one having this problem!

So some complementary details:
- It's actually a `Segmentation Fault`
- Here is the gdb dump :
[code]
- Someone suggested to add `x264` to my Lakka build (**_shouldn't this be included by default?_**). I've enabled it in the `ffmpeg` pack

[2021-12-11 03:02] sharkytowers commented on #1561
No prob.  Sorry, just seeing this.  I'll report back momentarily.

[2021-12-11 03:35] sharkytowers commented on #1561
@gouchi Ethernet is all good.  Works a treat.  Wireless still doesn't work.  When I "Connect to Wifi" it says it is scanning (but doesn't) then says no networks found and won't even pretend to start to scan again (if that makes sense).  I disabled wifi and re-enabled it.  Also logged out and in.

Having Ethernet is great though.  Let me know if there is anything else you want me to do or if you wa

[2021-12-11 12:20] gouchi commented on #1561
Thank you for your test.

May you try to provide some log with [createlog](https://www.lakka.tv/doc/Troubleshooting-Lakka/#automated-collection-of-relevant-logs) ?

Thank you.

[2021-12-11 17:25] sharkytowers commented on #1561
No problem @gouchi   Here is a link to the most recent log.  To try and recreate the issue I just toggled the Wifi on and off and tried to connect.  Hope it is helpful.

https://drive.google.com/file/d/19neDhda0OvT67LGJ9PoLMEC2haNfXzTr/view?usp=sharing

[2021-12-11 17:59] gouchi commented on #1561
Thank you for test.

Strange it seems it does not succeed to load iwlwifi ?

Can you try to copy iwlwifi firmwares (`iwlwifi-*.ucode`) from [linux-firware](https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/snapshot/linux-firmware-20211027.tar.gz) in [/storage/.config/firmware](https://wiki.libreelec.tv/how-to/add-firmware) ?

Don't forget to reboot one time after copying

[2021-12-12 08:30] coreybruce commented on #1544
Hey did you have a look and figure out what the issue was? :)

[2021-12-13 02:46] jcbente commented on #1553
With my rpi4, the only config that worked to ignore 4K30Hz was setting `hdmi_ignore_edid=0xa5000080` in config.txt.

[2021-12-15 01:23] sharkytowers commented on #1561
I'm sorry @gouchi .  Where exactly do you want me to copy the iwlwifi-*.ucode files?  I'm not seeing a /storage/.config/firmware directory.  Should I create this directory on the USB stick and move them there?  Sorry for being so dense.

[2021-12-15 08:13] BigFidel commented on #1507
This is happening with me as well.
X99 Chipset - i7 6850k - Radeon 580X Latest Lakka Nightly as of this writing.
Open GL results in a white screen with working sound and input (game is running) while vulkan automatically crashes and fails to load any content.

[2021-12-15 17:14] gouchi commented on #1561
No problem, sorry I forgot to mention you have to create the directory if it is not existing.

Thank you.

[2021-12-19 19:59] Demon000 commented on #1562
I believe their repo got force-pushed.

[2021-12-20 05:25] comradekingu commented on #58
@Hedda Transifex is neither free, nor used by https://kodi.weblate.cloud/ now.
I know this request is old, but for the record :)

[2021-12-20 07:17] lilarcor commented on #1544
@ToKe79 I tried to use Lakka-LE-master version 20211128, and dpad didn't work even I press and hold "select+up/left"

[2021-12-20 08:11] coreybruce commented on #1544
Yeah I've reported that issue above 😜

I'm waiting for a fixed image to update to so use the older image link further up

[2021-12-20 11:32] Demon000 commented on #1562
https://github.com/libretro/Lakka-LibreELEC/pull/1566/commits/c30bfcce8a183076acb1acdf078f50709ff54862

[2021-12-21 12:29] Torrens1 opened #1567 "TP-LINK UB500 Bluetooth adapter"
#Lakka 3.6 #PC #Add Bluetooth device
Hello, i tray to add external bluetooth device to my old pc but lakka propably didint support new bluetooth adapter TP-LINK UB500.
I tray [https://askubuntu.com/questions/1370663/bluetooth-scan-doesnt-detect-any-device-on-ubuntu-21-10](url) but i faild.

[2021-12-21 15:44] armadillu opened #1568 "Raspberry Pi Zero 2 - what image should I use?"
Hi, I'm trying to get Lakka running on a Raspberry Pi Zero 2. I tried the latest dev and the last release for Pi Zero 1, but It doesn't seem to boot?

I think the Pi Zero 2 should show up on this list in the download page as well... http://www.lakka.tv/get/macos/

[2021-12-22 20:13] RobLoach commented on #1562
The `libretro-update` branch is targeting this one: https://github.com/libretro/px68k-libretro/commit/b309941140f03b3d52e4c1720d6f4cbc0581f301

https://github.com/libretro/Lakka-LibreELEC/pull/1564

[2021-12-22 20:22] RobLoach commented on #1568
Don't believe we're building Zero 2 builds right now. Looks like LibreELEC doesn't even have them? https://libreelec.tv/downloads/raspberry/ Could you try the 9.2 build of LibreELEC?

[2021-12-22 20:36] RobLoach commented on #1560
Thanks for providing the updated package file :+1:

[2021-12-22 20:36] #1560 closed

[2021-12-22 20:44] #1562 closed

[2021-12-22 20:46] RobLoach commented on #1544
@coreybruce It could also be some of the autoconfigs. If you get a new export, I'd love to have it merged over at https://github.com/libretro/retroarch-joypad-autoconfig

[2021-12-23 01:48] coreybruce commented on #1544
Yeah sure but how do I get the suroconfigs sorry?

[2021-12-23 01:51] RobLoach commented on #1544
Once you make the changes in the config, save the profile and you should see it in the file system. There's some docs around on how to get them

[2021-12-23 03:46] coreybruce commented on #1544
Oh easy, I can do that and where is the config located exactly? Sorry for all the questions even tho it is documented, just quicker to ask so I can get it done when I'm free

[2021-12-24 02:38] sharkytowers commented on #1561
Okay I copied all the iwlwiw-*.ucode files to a directory (that I created) at /storage/.config/firmware/

And...  it works!  Kind of...  it does find the wireless networks now when searching for them (which it didn't do before!). However, once I enter my password for the network is fails. Or at least it says it does.  I rebooted with the ethernet cable disconnected and it found one of the previous

[2021-12-24 08:06] Torrens1 commented on #1567
[log-2021-12-24-08.02.45.zip](https://github.com/libretro/Lakka-LibreELEC/files/7773332/log-2021-12-24-08.02.45.zip)

[2021-12-24 12:56] gouchi commented on #1567
It seems this device has been supported using [mainline Linux](https://github.com/torvalds/linux/blob/v5.16-rc1/drivers/bluetooth/btusb.c#L446) (v5.16 when it is released). It seems to be available also on [Linux stable version](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/drivers/bluetooth/btusb.c?h=v5.15.11#n437) (v5.15).

Otherwise we might try to include this [patch](h

[2021-12-24 20:36] RobLoach commented on #1559
There's been some changes to the network stuff in the latest RetroArch. Perhaps an update will fix this... I've found I've had to have some patience when using the wifi menu, but the latest Lakka has worked for me....

Try a 2.4GHz network?

[2021-12-24 22:09] Cibomatto2002 commented on #1559
Thanks for the reply i don't see the 2.4Ghz option it just shows NETGEAR

[2021-12-26 03:47] smilerliu commented on #1568
If you are using Pi Zero 2 W with GPI case: https://nightly.builds.lakka.tv/members/vudiq/rpi02gpi/

[2021-12-26 14:34] duduke commented on #1544
Yes, it should be under `/storage/joypads/udev`

[2021-12-27 07:28] coreybruce commented on #1544
here is my Microsoft X-Box 360 pad.cfg for the Retroflag GPI Case

[code]

[2021-12-27 20:42] armadillu commented on #1568
I just tried it, it seems to get stuck at the rainbow square boot screen...

[2021-12-29 15:23] Lucius1202 commented on #1558
After a few days I thought my console was broken and asked for a new unit. After a first charge and discharge the problem has reoccurred, indicator at 37% but battery that seems fully charged. The legacy system is retropie based and works normally. Hope this information will help.

[2021-12-29 16:51] Graham15 commented on #1558
Mine is now showing 0% even though it's 100% charged. Works fine in 351Elec. Tried Lakka 4 (dev) but unfortunately, same issue.

[2022-01-06 22:07] TylerHooper opened #1574 "Raspberry Pi 4 - Not reading input from connected Nintendo Switch Pro Controller"
Version: Lakka 3.6
Hardware: Raspberry Pi 4, Nintendo Switch Pro Controller, Nintendo Switch SNES Controller
Steps to reproduce:
 1. Connect Nintendo Switch Controller via Bluetooth.
 2. Notice that device is recognized and assigned to controller port # 2.
 3. Navigate to Settings > Input > Port 2 Controls.
 4. Confirm that Device Index = Nintendo Switch Pro Controller.
 5. Attempt setting any con

[2022-01-09 04:23] RobLoach opened #1577 "TinkerBoard: mame2003-plus fail"
https://nightly.builds.lakka.tv/2022-01-09/0_logs/TinkerBoard.arm-2022-01-09.html

[code]

[2022-01-09 04:27] RobLoach commented on #1577
@mahoneyt944 Would you happen to know why this would fail? I see `namcos1_machine` in the Makefile.

[2022-01-09 05:30] mahoneyt944 commented on #1577
I haven't worked with these boards before unfortunately. Is this a new found issue or a first attempt to build? `namcos1_machine` hasn't been altered recently so not sure if this file is relevant or not, may just be the lucky number it stopped on from a build environment issue. Memory? I've also seen fails with regards to line endings before https://github.com/libretro/mame2003-plus-libretro/pull/

[2022-01-09 07:34] danielnixon commented on #1544
For anyone landing here looking for a turnkey GPi Case 1 + Pi Zero 2 solution in lieu of Lakka, the two best options at the moment seem to be:

1. This custom RetroPie image: https://www.reddit.com/r/RetroPie/comments/rema9v/gpi_zero_2_v12_gpi_case_custom_image/
2. Recalbox: https://www.recalbox.com/download/stable/rpi/rpizero2gpicase/

[2022-01-09 07:52] RobLoach commented on #1544
The udev xbox config looks pretty good! Thanks for the check :+1:

https://github.com/libretro/retroarch-joypad-autoconfig/blob/master/udev/Microsoft%20X-Box%20360%20pad.cfg

[2022-01-09 12:53] armadillu commented on #1568
A little more on this, it seems there's a working WIP version based on libreELEC 11... But it seems lakka is on 9, targeting 10?

https://forum.libreelec.tv/thread/24778-raspberry-pi-zero-2-w/?pageNo=1

[2022-01-09 17:11] RobLoach commented on #1559
Just tried on a RPi3 and couldn't open the Wifi menu. Will have to do more testing and get the logs.

[2022-01-10 01:55] evbo commented on #1502
I have an NVidia (GTX750) graphics card and have a similar error. What's the trick to enabling Vulkan correctly on Lakka? Does it vary by GPU?

[ERROR] [Vulkan]: Failed to create KHR_display surface.
[ERROR] [Vulkan]: Failed to set video mode.
[ERROR] [Video]: Cannot open threaded video driver ... Exiting ...
[ERROR] Fatal error received in: "video_driver_init_internal()"

In the link it gives two

[2022-01-10 10:26] gouchi commented on #1502
@GPDP1
`[libretro ERROR] This device probably does not support 8/16-bit storage. Make sure you're using up-to-date drivers!`

For AMD GPU Vulkan issue it might come from this [issue](https://github.com/libretro/parallel-n64/issues/702). You may try to make some test with those [environment variables](https://github.com/libretro/parallel-n64/tree/master/mupen64plus-video-paraLLEl/parallel-rdp#envir

[2022-01-10 17:13] evbo commented on #1502
@gouchi thanks I was worried that might be the case! Is there any work around? For instance, someway to configure lakka to use proprietary drivers I install myself?

[2022-01-11 10:21] gouchi commented on #1502
@evbo Yes you may try  this [version](https://lakka.tv/articles/2019/01/16/lakka-generic-nvidia-experimental-builds/) if you need Vulkan.

[2022-01-11 15:57] smilerliu commented on #1568
I've been using the image I linked for a long time. Don't use any image in the sub-directories; they don't work.

[2022-01-11 16:09] evbo commented on #1502
@gouchi thank you, is manually replacing Nouveau with a proprietary NVidia driver a bad idea? For instance, like on Ubuntu?:
https://www.linuxcapable.com/how-to-install-or-upgrade-nvidia-drivers-on-ubuntu-21-10-impish-indri/

I'm tempted to try, but if LibElec is not as straight forward as Ubuntu in this regard that would be good to know :)

[2022-01-11 17:25] smilerliu commented on #1544
I tried putting the cfg file into the udev directory and it didn't help. I noticed that after booting there is never an on-screen notification about a controller being connected, which I'll see when using another working image. So I suspect that for some reason the system just can't detect the existence of the controller, not that the buttons are mapped incorrectly.

[2022-01-11 22:17] Lucius1202 commented on #1558
I was thinking if it is possible to get the battery level through ssh? Any system files to read with grep or cat? Maybe with other commands?

[2022-01-12 19:52] armadillu commented on #1568
I've tried this image, but I'm not targeting the GPI case case. I modified the `distroconfig.txt` and `config.txt` files to match my setup, but right after the lakka logo appears, my hdmi screen goes to sleep and can't really tell what's going on.

[2022-01-15 00:40] adamrdrew opened #1581 "Please include bluetooth firmware for Qualcomm Atheros QCA6174 from upstream"
Hi all! Love the project having a blast with it. On my system with a Qualcomm Atheros QCA6174 WIFI / Bluetooth combo card Bluetooth didn't work. It would scan and never find devices. SSH'ed in and saw the problem was the firmware binaries weren't included:

From dmesg:
[code]
In bluetoothctl:
[code]
I wade /var/lib/firmware/qca and then grabbed the rampatch and NVM files from kernel.org:
[code]

R

[2022-01-16 21:40] RobLoach commented on #1577
@spleen1981 Thanks for fixing that up! Looks like the builds are going through now :rocket:

[2022-01-16 21:40] #1577 closed

[2022-01-16 23:01] RobLoach opened #1586 "Database: Directory Not Found"
Seems the RDBs in the database are not there on install.

Lakka-RPi3.aarch64-nightly-20220116-8bb17e6.img.gz

RPi3

1. Install the latest nightly build of Lakka
2. Visit Information > Database Manager
3. Find that there are no files.... "Directory Not Found"

For there to be a list of .rdb files.

There are no .rdb files listed in the Database Manager list.

[2022-01-16 23:06] RobLoach commented on #1586
It could be my SD card though, so if someone else could verify the database still works, that'd be incredible.

[2022-01-17 15:36] awe444 commented on #1535
If/when this request gets implemented, I have an add-on request.

My understanding is that the solution might involve setting/overriding byte codes in the AVI infoframes sent over the HDMI signal. If that proves to be true, then in addition to the full/limited range RGB flag, I’d love to see aspect ratio flag overrides also implemented.

One use case would be for using standard 16:9 resolutions (7

[2022-01-17 15:41] Ntemis commented on #1586
From what package we take the rdb files from?

[2022-01-17 16:14] smilerliu commented on #1568
If you are not using the GPI case, have you tried the pi 2/3 arm build or pi 3 aarch64 build? I thought zero 2 is basically a pi 3.

[2022-01-17 18:13] RobLoach commented on #1586
libretro-database over at https://github.com/libretro/Lakka-LibreELEC/blob/master/packages/libretro/libretro-database/package.mk

[2022-01-17 20:55] gouchi commented on #1586
I don't reproduce the issue on Generic x86_64 nightly-20220116-8bb17e6.img.gz

[2022-01-17 21:18] RobLoach commented on #1586
Good to hear! Thanks for the testing :+1:

[2022-01-17 21:18] #1586 closed

[2022-01-20 22:37] starquake commented on #1551
I have the same  issue. RG351MP. Will not boot 3.5.2, 3.6 or nightly-20220118. Tested multiple SD cards. With and without wireless.
If I reboot a bunch of times it will start resizing the filesystem. But after a few seconds it crash.

Any ideas on what to try next?

[2022-01-21 04:50] klode82 commented on #1150
Sorry, I have the same problem of @gmello77, but the image suggested by @ToKe79 is not available. I've tried to search inside Lakka_LE_master, but nothing about A64.arm
Can you suggest me another image to use for ethernet issue?

Thanks.

[2022-01-21 09:41] auxfam commented on #1555
I am closing this since haven't been able to find any further possible causes.  it does appear to be driver related as the for example the vulkan driver for `Flycast` performs notably worse on 60fps titles like DOA (glcore: 58-> 60 -> vulkan:47-52).  but for anyone also using intel nucs I guess you may also be experiencing regression on some of the heavier cores

[2022-01-21 09:41] #1555 closed

[2022-01-21 09:48] auxfam opened #1589 "SwanStation Core: per game config overrides do not load"
- Which version of Lakka are you using?
nightlies: https://nightly.builds.lakka.tv/2022-01-16/Generic.x86_64/Lakka-Generic.x86_64-nightly-20220116-8bb17e6.img.gz

- What system hardware are you using?
intel NUC8 Intel® Core™ i5-8259U Processor (6M Cache, up to 3.80 GHz)
note: this has 128 EDRAM as a L4 cpu/GPU cache

- What did you do?
1. load title (ridge racer 1 jp) with core: Swanstation
2. cha

[2022-01-21 13:04] Ntemis commented on #1555
If you still need this fixed you better report it to the individual cores github page

[2022-01-21 13:08] Ntemis commented on #1589
Core related issue, take it there.

[2022-01-21 13:08] #1589 closed

[2022-01-21 13:17] Ntemis commented on #1574
[code]

[2022-01-21 13:17] #1574 closed

[2022-01-21 13:20] Ntemis commented on #1581
What is your system? Because we do ship those firmwares

[2022-01-21 13:29] adamrdrew commented on #1581
Hi thanks for the response! Yeah, something must be up because those firmware files my system needed (`rampatch_usb_00000302.bin` & `nvm_usb_00000302.bin`) weren't in `/var/lib/firmware/qca` on a fresh install of Lakka. My BASH isn't so strong these days so I can't fully understand that script, but it looks like it iterates over a firmware list file. Maybe those files aren't in that list file on t

[2022-01-21 19:04] Ntemis commented on #1581
Both are there, plot thickens

[2022-01-23 16:44] coreybruce commented on #1544
Hey is there any new images coming out?

[2022-01-24 12:28] gouchi commented on #1150
@klode82  You might try this [testing image](https://nightly.builds.lakka.tv/members/vudiq/Lakka-4.0-devel/A64.aarch64/).

[2022-01-24 12:48] gouchi commented on #1581
We might have to add `qca/` in [x86_64.dat file](https://github.com/libretro/Lakka-LibreELEC/blob/master/packages/linux-firmware/kernel-firmware/firmwares/x86_64.dat).

Or you can add the firmware to [/storage/.config/firmware](https://wiki.libreelec.tv/how-to/add-firmware).

[2022-01-26 23:31] stackErr-NameNotResolved opened #1590 "Raspberry pi 3 CRT, boot hangs"
CRT issue's seem to be back at it again.

Using a Raspberry pi 3 B. When using CRT output, Lakka hangs at the flower. When using HDMI output, Lakka boots as expected.

Issue exists at least for "Lakka-RPi3.aarch64-3.6.img" and "Lakka-RPi3.aarch64-nightly-20220122-1ea8b45.img". For now I don't have enough knowledge for gathering logs.

I searched and could not find a duplicate of this bug. Only old

[2022-01-30 14:38] stackErr-NameNotResolved commented on #1590
Got it! It was mandatory to set `video=Composite-1:720x480@60e`, see http://www.lakka.tv/doc/Raspberry-Pi/.

Still weird that it was needed to set this value and/or that it was not indicated that this is necessary.

[2022-01-30 14:38] #1590 closed

[2022-02-02 18:16] zongyuanliu-bio commented on #1551
Yes, same as mine, so I choose to use ArkOS, waiting for future versions of Lakka.

[2022-02-04 13:16] loki666 commented on #1559
had the same issue with mine,
seems related to wifi power saving
try adding file /storage/.config/udev.rules.d/81-wifi-powersave.rules

`ACTION=="add", SUBSYSTEM=="net", KERNEL=="wl*", RUN+="/usr/sbin/iw dev $name set power_save off"`

[2022-02-05 23:45] evbo commented on #1589
@Ntemis I am noticing this same behavior with duckstation on lakka, but it appears to be archived on github. Where exactly should this issue be "taken" for the duckstation core?

Thanks!

[2022-02-06 05:45] Ntemis commented on #1589
Interesting question indeed , maybe try duckstation discord for this one

[2022-02-06 20:25] Sanaki commented on #1589
DuckStation has been archived, they severed ties with libretro a while back, and attempting to contact them over this will invariably lead to a ban from their server. The core itself is dead. As for SwanStation, @DarthMew is the most likely candidate to know something about what's going on.

[2022-02-06 20:30] Ntemis commented on #1589
Then R.I.P DuckStation. I wont be accepting any bug issues after this

[2022-02-06 21:32] DarthMew commented on #1589
I've tried it myself using a live USB of the latest version of Lakka, but on my end SwanStation saves and loads .cfg and .opt override files just fine.

[2022-02-07 21:46] GPDP1 opened #1601 "Missing firmware for Realtek RTL8821CE Wireless Adapter"
I added a Wireless AC adapter + Bluetooth combo card to my Lakka x86 PC, and while Bluetooth works, it does not recognize WiFi capabilities of any kind. Wireless is confirmed working on both Manjaro and Batocera using the same machine. Log is provided below:

[log-2022-02-07-21.28.28.zip](https://github.com/libretro/Lakka-LibreELEC/files/8018930/log-2022-02-07-21.28.28.zip)

For good measure, here

[2022-02-10 02:35] DarthMew commented on #1589
So you're not saving the core option overrides as either a game or content override through the "manage core options" submenu inside the core options tab?

[2022-02-10 03:27] evbo commented on #1589
Correct, you can add "Overrides" to the quick menu and from there is where I'm clicking on saving a game override. To make it appear you have to enable it from user interface settings.

[2022-02-10 04:50] Sanaki commented on #1589
Just to be clear, opt files aren't overrides, those are core options, saved at a core/directory/game level. Overrides are cfg files and can be saved at the same three levels.

[2022-02-12 04:16] burabure commented on #1290
@jayare5 Thank you so much for all your work on this. I got my lakka pi working over composite with my PVM-8040 thanks to you.

I also noticed that audio over composite/jack doesn't work by default, so I had to set `audio_device = "default:CARD=Headphones"` on ` /storage/.config/retroarch/retroarch.cfg`

PS: Might want to add this to the wiki/docs also @ToKe79

[2022-02-12 14:37] evbo commented on #1589
Ok, it just so happens it's the "core" options I want to override. So are you saying overriding core options is expected to not work? for instance, I want Duckstation (or Swanstation) to use a higher resolution for certain games that can run fast enough, but then switch to a lower resolution for games that can't.

[2022-02-12 14:54] DarthMew commented on #1589
What you do is set the higher resolution (or any option you want to be different from the main .opt), go to "manage core options", and then select "save game/content/core options".

[2022-02-12 20:40] evbo commented on #1589
Ok, strangely there is an "overrides" sub menu you can optionally add to the "Quick menu". I will try to do it the way you suggest and see if it's different.

[2022-02-12 21:14] evbo commented on #1589
@Sanaki so it sounds like based on that there is no way to tell swanstation "use this resolution for this particular game and then use a lower resolution for that one"

What's confusing I think for the O.P. and me both is that other cores seem to allow overrides to core options on a per game basis, or maybe we're both confused with what qualifies as "core" options. For instance, O.P. references ho

[2022-02-14 04:26] paqman3d commented on #1523
Just to update, I've acquired another Pi since I opened this issue and even on a clean install of the latest version, I'm still getting the broken menu/home button on the 8Bitdo SN30 and Retrobit Sega Genesis pads.

Things I've tried:

- On my Pi running Lakka 3.5.2, I replaced the autoconfig with an exported autoconfig from my working Lakka 3.4. No luck.

- Used an autoconfig from the Github page

[2022-02-14 08:44] auxfam commented on #1589
I am surprised that this got reopened but I think you are refering to something else.  if it;s per game resolution (or other actual core options like disc read speed etc...) then usually

1. load your game using swanstation core
2. go to quick menu -> options -> manage core options
3.  if no game  options saved then select "save game option"
4. this creates a per game template specifically for tha

[2022-02-14 22:57] GavinDarkglider commented on #1531
@ToKe79 I managed to fix the updater in 4.x builds, but I am not going to bother making anymore changes to 3.x tree, as it appears to be completely broken on the switch at this point in time.

[2022-02-16 15:02] tmznix opened #1609 "Add support for Opendingux Beta ( Lepus devices )"

[2022-02-17 16:39] gouchi commented on #1609
LibreELEC does not support Mips architecture as far as I know.

So I think it will be better to add support to Opendingux for those devices.

[2022-02-19 08:16] coreybruce opened #1610 "please add the emulation station UI to lakka"
Hi just wanted to ask if you could add the emulation station UI to lakka as it has so many UI options would would work so much better with Lakka and its features not to mention would be a Far better looking/running UI for handheld devices like the GPI cases and other hand held devices.

[2022-02-19 17:05] war59312 commented on #948
If you are on http://le.builds.lakka.tv/RPi2.RPi4.arm/Lakka-RPi2.RPi4.arm-2.3.2.img.gz from https://www.lakka.tv/get/linux/rpi4/

It fails to update even using https://le-builds.lakka.tv/RPi4.arm/Lakka-RPi4.arm-3.6.img.gz

You get:

Lakka-RPi4.arm-36.img.gz is not compatible with RPi2.RPi4.arm hardware - update cancelled

Current system: RPi2.RPi4.arm
Update system: Rpi4.arm

Create /storage/.upda

[2022-02-20 13:04] i30817 commented on #1601
This wifi device has a lot of problems. IIRC, to prevent some crashing in hibernate i had to black list both 'kernel drivers' for it and use a out of tree one.

I put in this into the blacklist at `/etc/modprobe.d/blacklist.conf`
[code]

Then i built and installed this:
https://github.com/tomaspinho/rtl8821ce

It was annoying.

[2022-02-21 09:30] RobLoach commented on #1610
The aim of Lakka is to be Just Enough OS for RetroArch. Emulation Station may be out of scope for that. I'd recommend trying out RetroPie or Batocera if you're looking to use EmulationStation as a launcher.

[2022-02-21 09:50] ToKe79 commented on #948
That URL is really garbage, but nothing currently links there from https://www.lakka.tv/get/linux/ - so probably old bookmark, eh?
Anyway, as the "legacy" images were moved to a sub-folder on the download server long time ago, a download attempt should result into a 404 error (file not found).

[2022-02-21 09:57] ToKe79 commented on #1559
was this fixed with the addition of `HAVE_WIFI=1` to the `retroarch` build?

[2022-02-21 10:44] RobLoach commented on #1554
Confirmed this is fixed. Tested on a RPi3.

[2022-02-21 10:44] #1554 closed

[2022-02-21 10:46] RobLoach commented on #1400
HAVE_WIFI was just restored in the latest builds. Mind re-testing?

[2022-02-21 10:47] RobLoach commented on #1559
I tested the latest on a RPi3, and can confirm I was able to connect to wifi.

[2022-02-21 10:49] Ivibaya commented on #1400
Yes, but sometimes it takes some retries until getting connected. Also had
to manage AP to make it work in a less noised channel, simpler password and
2,4GHz band.

El lun., 21 feb. 2022 11:46, Rob Loach ***@***.***> escribió:

[2022-02-21 11:05] loki666 commented on #1559
but the original issue was on Lakka 3.6 where Wifi options / drivers was still fine

[2022-02-21 11:07] loki666 commented on #1559
issue looked like bad Wifi reception (all RPi seems affected by this) that's why I suggested to disable power saving on the wifi interface

[2022-02-21 16:54] war59312 commented on #948
True enough, and yes old bookmark.

[2022-02-22 03:13] coreybruce commented on #1610
It wouldn't be any different the the already existing UI choices on Lakka like xmb, rgui, ozone or fluid. All I am asking for is to add the emulation station UI to lakka :)

[2022-02-22 17:05] tmznix commented on #1609
I don't see this as a Lakka-LibreELEC issue. Retroarch already support these devices in the RetroFW firmware build, but are unsupported in Opendingux beta.

Thank you again!
Cheers :)

[2022-02-22 17:54] ToKe79 commented on #1609
Same, this does not look like a Lakka issue. More like request to build RetroArch binaries for another platform.
@RobLoach did you transfer the issue to the correct repo?

[2022-02-22 17:57] RobLoach commented on #1609
Could be better served in theRA queue.

[2022-02-22 23:09] blindm0use commented on #1551
After flashing a new SD card of a capacity not less than 2gb with Lakka (I used latest development image and a 4gb SD card) remount it on your computer and do the following:
1. Download latest stable release of 351ELEC
2. Navigate to the downloaded .gz archive and open it (can be done with 7-Zip if on Windows).
3. Open .img within the archive
4. Navigate to "0.fat"
5. Extract "rk3326-rg351mp-linux

[2022-02-22 23:11] blindm0use commented on #1545
After flashing a new SD card of a capacity not less than 2gb with Lakka (I used latest development image and a 4gb SD card) remount it on your computer and do the following:
1. Download latest stable release of 351ELEC
2. Navigate to the downloaded .gz archive and open it (can be done with 7-Zip if on Windows).
3. Open .img within the archive
4. Navigate to "0.fat"
5. Extract "rk3326-rg351mp-linux

[2022-02-23 00:30] tmznix commented on #1609
Would you transfer it back ?

[2022-02-23 00:36] zyliu-OU commented on #1545
I will give it a try, thanks! 👏😆

[2022-02-23 11:13] Ntemis commented on #1601
Read this https://github.com/endlessm/linux-firmware/blob/master/rtw88/README

[2022-02-23 11:13] #1601 closed

[2022-02-24 15:27] ToKe79 commented on #1538
seems like the issue is due to updated kernel/firmware. [this image](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-3.7-dev-citra+kernel-rollback/) has older kernel/firmware (as in Lakka 3.5) and one user already confirmed this helped them. as a bonus there is citra core (but I'm not sure if the core will even work).

[2022-02-24 21:53] GavinDarkglider commented on #1563
This is fixed with this PR https://github.com/libretro/Lakka-LibreELEC/pull/1617 That being said, I didnt port it to 3.x tree yet, but it should be easy enough to do..... Give me an hour, and I will submit a patch there as well for that.

[2022-02-24 22:48] GavinDarkglider commented on #1610
Um, this is actually completely different. Retroarch is one program, Emulation Station is a different program. Both programs do the same thing essentially. But comparing  EmulationStation to xmb, rgui, ozone or glui which are basically skin engines in retroarch, is rediculous. Lakka is designed to be just enough OS to run retroarch, not retroarch and ...

[2022-02-25 06:11] coreybruce commented on #1610
Would it be to much to even add it if it's different UI/launcher? it still would be just enough of a OS just another gui option.

[2022-02-25 06:23] RobLoach commented on #1610
Yes...
- Allow configuration of which application to launch on boot
- New documentation for how to configure it
- Adding all the packages to build it properly
- Maintaining the upgrades for the packages
- Setting up the launch configuration for RetroArch across all platforms, along with which core is used
- Manage support requests surrounding emulation station
- etc

Again, if you're looking to us

[2022-02-25 17:42] ToKe79 commented on #1544
@coreybruce I found some time, so I'm looking into it right now - regarding the controls - I will use your config - does it have to have any special filename? my plan now is to replace the mappings in the 'udev/Microsoft X-Box 360 pad.cfg` in the image (just overwrite the file with custom file). that should fix the issue with buttons?

[2022-02-25 18:36] ToKe79 commented on #1544
meanwhile you can test (& hopefully enjoy) this 3.7-dev build
https://nightly.builds.lakka.tv/members/vudiq/rpi02gpi/

[2022-02-25 21:13] smilerliu commented on #1544
Thanks for the new build! It doesn't seem to be built from your old gpi-zero2+fixes branch, which hasn't been updated recently. Do you still have the branch publicly available?

[2022-02-25 22:06] ToKe79 commented on #1544
@smilerliu the branch is still available (with old stuff), but I updated it locally and merged into master :-)

[2022-02-25 23:13] smilerliu commented on #1544
That's great news! Thank you so much for that! In terms of builds, does being in the master mean there will be an image automatically built for future releases? I'm not familiar with the Lakka build setup...

[2022-02-26 04:28] smilerliu commented on #1544
Tested the new build briefly and found no obvious issues. Retroarch has fixed the problem that shutdown saves the config even if users say don't auto save the config, which is very nice.

[2022-02-26 05:18] ToKe79 commented on #1544
yes, the Pi02GPi is now included in nightly builds as well as planned for next release.

[2022-02-26 07:04] smilerliu commented on #1544
For some reason the boot time of the new build is longer than the older build. It used to be about 17 seconds and now it's 20 seconds.

[2022-02-26 07:09] ToKe79 commented on #1544
maybe it is because of the added samba service? I dunno :-)

[2022-02-26 15:16] coreybruce commented on #1544
I can confirm this new image works just fine, when will this go to stable so we can get updates from the lakka updater?

[2022-02-27 07:11] smilerliu commented on #1544
I updated to the latest nightly build. Then I noticed that I can't turn off samba: 1) if I just choose to restart retroarch, samba remains off; 2) if I turn off gpi case and turn it on again, samba still becomes on. Is it a gpi case specific thing, or a general lakka thing?

[2022-02-27 20:51] gouchi commented on #1563
@ups-ups @bonswouar PR has been merged please report if it is working with [nightly builds](https://nightly.builds.lakka.tv/latest/) so that we can close this issue.

Thank you.

Kind regards,

[2022-02-27 22:50] bonswouar commented on #1563
Amazing, thanks for this fix @GavinDarkglider and the rest of the team!

@gouchi I confirm it works on `4.x` branch (that I built myself earlier), although not on `3.x` using Online Updater, but I believe the nightly build happened before the merge (I'm seeing Feb 26 2022 as the Build Date for version `b71be7efd2`)?

[2022-02-28 04:12] smilerliu commented on #1563
I have a GPI case + Pi Zero 2 W. I updated to the latest nightly build. When I tried to record a GB game using the gambatte core, the game ran fine except for some very loud background white noise, but no files were written to the recordings directory.

[2022-02-28 08:59] gouchi commented on #1563
@bonswouar @smilerliu Thank you for the tests. I am glad it is working.

@GavinDarkglider Thank you for the fix.

[2022-02-28 08:59] #1563 closed

[2022-02-28 09:36] ups-ups commented on #1563
Thank you for the fix.
I checked x86-64 or rpi3 latest nightly build.
It completely worked.
Streaming to twitch is also worked.

[2022-02-28 12:27] coreybruce commented on #1610
Understandable, thanks for the chat.

[2022-02-28 12:27] #1610 closed

[2022-02-28 13:30] ToKe79 commented on #1544
so thanks to @Cicirifu we have an arm image for Pi Zero 2 W GPICase mod - can we consider this as solved then?

[2022-02-28 13:32] coreybruce commented on #1544
Well it depends if this will go to stable and we will get continuous builds because we were stuck on a working build for a while and we don't know if that will happen again with this new current build or not.

I really want this to go to stable so we will not only get continuous updates but they will go through lakkas updates instead of needing to do it manually

[2022-02-28 14:26] ToKe79 commented on #1544
device is getting nightly builds, device will be included in the 3.7 release, support is ready also in the 4.x branch, so the base for future maintenance is there. for all new issues, that will come up in the nightly builds / releases should get own tickets.
So I'm closing this one down, feel free to open new issues as necessary. Discussion should take place on discord / irc channels :-)

[2022-02-28 14:26] #1544 closed

[2022-02-28 14:31] coreybruce commented on #1544
Ok but my next question is will these new images and this current one be able to be easily found on Lakka without having to resort to this issue post assuming you know about it which not many people will?

[2022-02-28 14:34] ToKe79 commented on #1544
yes, the download page is is being updated right now for the 3.7 release to include links also for RPi Zero 2 with GPICase. Same for nightly builds - https://nightly.builds.lakka.tv/by_devices/Pi02GPi.arm/ and https://nightly.builds.lakka.tv/latest/Pi02GPi.arm/

[2022-02-28 14:43] coreybruce commented on #1544
Thanks so much for the work and updates you have done, so glad the image for this is becoming officially supported.

As the updates going to be going through the update branch on the the Lakka UI now by the way?

[2022-02-28 14:49] coreybruce commented on #1544
Oh there is one minor bug I didn't notice til just now after updating my girlfriends GPI.

On the new update the speakers will produce a low level of white noice from the speakers

[2022-02-28 14:59] smilerliu commented on #1544
To me the little bit of white noise from the speaker is always there. Can you verify it's new in the new build? Like get another SD card and flash the old build onto it and try?

[2022-02-28 15:01] coreybruce commented on #1544
I can confirm because my one is a fresh installation but you say it was always there hmm? Maybe I didn't notice but I'm sure I would off but oh well

[2022-02-28 15:07] Cicirifu commented on #1544
I can confirm there is always a level of white noise. It's just how the case is designed.

Anyhow, I've neglected this conversation for a while now but now I hear the Pi02 build has been made official. Great to hear. Only wish you had changed my horrible naming as Pi02GPi did not really fit existing naming conventions.

In the meanwhile I've moved on to supporting the new GPI 2 case with CM4, whic

[2022-03-01 10:15] danielnixon commented on #1544
It would be cool if Lakka could swap between hdmi and gpicase screen a la https://www.reddit.com/r/retroflag_gpi/comments/rr05t4/finally_got_my_docked_setup_completed/

[2022-03-01 12:09] Cicirifu commented on #1544
@danielnixon Video courtesy of a community member. https://imgur.com/a/7aYyqNY, but between the amount of modifications and how poorly designed the GPi2 is I have no aspirations to merge it into the main Lakka project.

[2022-03-01 20:11] RobLoach commented on #1568
Zero 2 is up! http://lakka.tv/articles/2022/03/01/lakka-3.7/

[2022-03-01 20:58] danielnixon commented on #1544
@Cicirifu I share your opinion of the GPi2. I'm actually talking about screen/hdmi swapping with the original GPi case and a zero/zero 2 (which requires you to cut away a portion of the plastic shell to expose the pi's hdmi port). Once you've done the cutting, there are scripts to perform the switch (manually) such as the script in [the Xervil / Sliver X image](https://retropie.org.uk/forum/topic/

[2022-03-01 22:33] Cicirifu commented on #1544
It's weird to have to use the term "hot" docking (like: hotplug, hotswap, etc) only because the GPI2's implementation of docking is so ridiculously flawed.

[2022-03-01 23:56] #1568 closed

[2022-03-02 12:42] gouchi commented on #1207
Closing this issue as OP is now ghost and workaround has been provided.

[2022-03-02 12:42] #1207 closed

[2022-03-02 12:47] gouchi commented on #1422
Closing this issue as it has been opened in RA issue tracker. Moreover, there is a workaround.

[2022-03-02 12:47] #1422 closed

[2022-03-02 12:55] gouchi commented on #1502
@GPDP1 Is it still an issue with [nightly build ](https://nightly.builds.lakka.tv/)? [Lakka v.4.x](https://nightly.builds.lakka.tv/members/vudiq/Lakka-4.0-devel/Generic.x86_64/) ? [Lakka-LE-master](https://nightly.builds.lakka.tv/members/vudiq/Lakka-LE-master/Generic.x86_64/) ?

Thank you.

[2022-03-02 12:57] gouchi commented on #1484
No answer closing.

[2022-03-02 12:57] #1484 closed

[2022-03-02 12:58] gouchi commented on #1507
Hi,

Is it still an issue with [nightly build ](https://nightly.builds.lakka.tv/)? [Lakka v.4.x](https://nightly.builds.lakka.tv/members/vudiq/Lakka-4.0-devel/Generic.x86_64/) ? [Lakka-LE-master](https://nightly.builds.lakka.tv/members/vudiq/Lakka-LE-master/Generic.x86_64/) ?

Thank you.

[2022-03-02 13:01] ToKe79 commented on #1559
no response from OP. closing.

[2022-03-02 13:03] #1510 closed

[2022-03-02 13:37] gouchi commented on #1458
@muelli1975 Is it still an issue or we can close this issue ?

[2022-03-02 14:48] gouchi commented on #1433
@theAlphaFox Is it still an issue with [nightly builds](https://nightly.builds.lakka.tv/) ?

Thank you.

[2022-03-02 14:49] gouchi commented on #1480
Closing this issue as we did not receive any logs.

[2022-03-02 14:51] gouchi commented on #1553
@Brunnis is this still an issue ?

[2022-03-02 14:53] gouchi commented on #1476
Is it still an issue with [nightly builds](https://nightly.builds.lakka.tv/) ?

Thank you.

[2022-03-02 14:56] gouchi commented on #1495
@BDJoe360 Is still an issue with [nightly builds](https://nightly.builds.lakka.tv/) ?

Thank you.

[2022-03-02 15:12] gouchi commented on #1549
It might be possible but as we don't own one this device it will be difficult to port it.

Source : [1](https://linux-sunxi.org/F1C100s) [2](https://mangopi.cc/mangopi_r) [3](https://github.com/mangopi-sbc)

[2022-03-02 15:12] #1549 closed

[2022-03-02 15:13] gouchi commented on #1552
@smf-gitwit Is still an issue with [nightly builds](https://nightly.builds.lakka.tv/) ?

Thank you.

[2022-03-02 15:18] gouchi commented on #1535
It might be possible according to this [documentation](https://www.onetransistor.eu/2021/08/hdmi-picture-quantization-range-linux.html) using `proptest` but we will have to [enabled it](https://github.com/libretro/Lakka-LibreELEC/blob/Lakka-v4.x/packages/graphics/libdrm/package.mk#L58) first.

[2022-03-02 20:59] MopheusDG opened #1622 "Lakka 3.7 RPi4 64 Bits => GameMode unsupported and Vulkan error ?"
Lakka stays on Logo and running verbose mode shows:

[code]

If you are sure that it's a bug in Lakka, please answer the following questions:
- Which version of Lakka are you using? 3.7 Stable
- What system hardware are you using? RPi4 4 Gb 64 Bits
- What did you do? Plain install, was working, updated to 3.7 and stuck on logo now.
- What did you expect to happen? Boot to menu.
- What happened ins

[2022-03-02 21:33] Brunnis commented on #1553
Should be. I mean, since these config.txt commands are not supported with the full KMS video driver, it’s not going to start working. These commands worked as long as the firmware was responsible for the display. With full KMS that has changed and we need to solve it in some other way. I personally did it with the script in my first post above, but I’m not sure what would be an acceptable solution

[2022-03-02 22:04] gouchi commented on #1535
@silentJET85 Can you try to make a test with this [image](https://nightly.builds.lakka.tv/members/gouchi/1535/Lakka-Generic.x86_64-4.0-devel-20220302224739-44b31b0.img.gz) ?

Thank you.

[2022-03-03 20:27] MopheusDG commented on #1622
Fixed the gamemode error adding the line to the config, but still having problems with Vulkan it seems.

Line to fix:

**gamemode_enable = "false"**

[2022-03-03 20:30] ToKe79 commented on #1622
is gamemode on by default? I did not experience this issue on rpi400. vulkan on rpi does not work with all cores.

[2022-03-03 20:50] silentJET85 commented on #1535
@gouchi I don't notice any difference. Is there a setting I should be looking for?

Edit:
For what it's worth, I tried running proptest on this machine, but Nouveau doesn't seem to have the relevant options.
[proptest.txt](https://github.com/libretro/Lakka-LibreELEC/files/8181227/proptest.txt)

[2022-03-04 01:17] MopheusDG commented on #1622
I didn't have the option on the retroarch.cfg, I added but still have issues, so I decided to fully remove it and let it create again. Now it's working fine.

[2022-03-04 16:43] gouchi commented on #1535
Thank you for the test. If you don't have the option, I am afraid we can't make it work.

Maybe it is working only for Intel GPU for now with `proptest` ?

Also you should try to stop RA before doing the setup
[code]

[2022-03-04 17:47] #1622 closed, assigned to nobody

[2022-03-05 04:18] GPDP1 commented on #1601
Thank you, adding this firmware to the appropriate folder fixed the issue.

[2022-03-05 04:29] GPDP1 commented on #1502
@gouchi Unfortunately the fan on my Radeon card up and died on me, and so while the card technically works still, I decided to remove it until I replace it with another, so I cannot tell you. All I can say is before the fan died, I did eventually get ParaLLEl-RDP working with the Radeon card by adding PARALLEL_RDP_ALLOW_EXTERNAL_HOST=0 to /storage/.cache/services/retroarch.conf, as outlined in the

[2022-03-05 05:43] beyondmeat commented on #1552
Yes this still the issue with v.3.7.

I have a white xbox one x BT controller with the latest firmware. I also have a xbox one Core (series) controller with latest version.

rpi 400

[2022-03-05 10:28] gouchi commented on #1502
Thank you for the feedback.

I will close this issue as there is a workaround and that Mesa Vulkan driver will improve over time if you card support this Vulkan property.

[2022-03-05 10:28] #1502 closed

[2022-03-05 10:47] gouchi commented on #1552
Thank you for the feedback.

Not sure if it will help but you may try [those steps](https://github.com/atar-axis/xpadneo/issues/287#issuecomment-846156904).

Also if you have the opportunity to make a test with another [BT](https://atar-axis.github.io/xpadneo/#bt-dongles) [dongle](https://github.com/atar-axis/xpadneo/issues/93) ?

[2022-03-05 11:10] beyondmeat commented on #1552
@gouchi i have  pi 400 (kb)

[2022-03-05 12:45] silentJET85 commented on #1535
I see. Doing this natively seems to be impossible until the Nouveau folks decide to add that option.

However, I'm wondering if it would be possible to accomplish effectively the same thing, by somehow remapping the colors at a higher level? Possibly as a Retroarch shader?

[2022-03-05 20:22] HappehLemons commented on #1525
Checkin in here since it’s been a while. Does this issue still exist? Not sure if the driver was updated yet or not.

[2022-03-06 15:11] hizzlekizzle commented on #1535
The tvout-tweaks.glsl shader has a parameter to switch to limited: https://github.com/libretro/glsl-shaders/blob/master/crt/shaders/tvout-tweaks.glsl#L21

You could try that and see if it does the trick.

[2022-03-07 16:15] ustix commented on #1568
Not working with my zero 2 without GPI case, I don't know if that is an issue, or what, but it's not loading at all. I've made it with raspberry imager.

[2022-03-07 16:17] armadillu commented on #1568
Same here, I could get to the Lakka booting logo after tweaking the config.txt file to match my screen, but it never gets to Retroarch. Because I cant config wifi (maybe there's a way to set it up through the config file?), I cant ssh to get to logs or anything.

[2022-03-07 16:46] ToKe79 commented on #1568
please, use RPi3.aarch64 nightly build for RPi Zero 2 without GPICase mod.
https://nightly.builds.lakka.tv/latest/

[2022-03-07 20:01] ToKe79 commented on #1538
is it still an issue with [latest release](https://le-builds.lakka.tv/) and [dev build](https://nightly.builds.lakka.tv/latest/)?

[2022-03-07 22:21] ToKe79 commented on #1581
firmware is now included in the 4.x images:

https://github.com/libretro/Lakka-LibreELEC/blob/Lakka-v4.x/packages/linux-firmware/kernel-firmware/firmwares/x86_64.dat#L5

@adamrdrew you can test with latest [nightly build](https://nightly.builds.lakka.tv/latest/)

[2022-03-07 22:21] #1581 closed

[2022-03-07 22:33] ToKe79 commented on #1561
@sharkytowers Lakka/RetroArch shows "Failed" message after connecting to an AP for the first time, but it actually connects - you can check via main menu &rarr; information &rarr; network information &rarr; wlan0. see [this](https://nightly.builds.lakka.tv/members/vudiq/lakka-wifi-connect.mkv) low quality video.

EDIT: you can also test with [latest nightly build](https://nightly.builds.lakka.tv/l

[2022-03-07 22:45] ToKe79 commented on #1556
@FishBulb32 can you test with [latest release](https://le-builds.lakka.tv/OdroidGoAdvance.arm/)? maybe it was bug in the core itself that was fixed in later version of the core. thank you!

[2022-03-08 06:55] ustix commented on #1568
That would have been my other choice, and it's working like a charm. But it would be good if there could be an optimized  version for zero 2 without the case.

[2022-03-08 10:22] gouchi commented on #1561
@ToKe79 IIRC I only enabled [CONFIG_IGC](https://github.com/libretro/Lakka-LibreELEC/blob/master/projects/Generic/linux/linux.x86_64.conf#L2011), I don't recall enabling `iwlwifi-*` in `x86_64.dat`.

Yes I think we should try to update iwlwifi-firmware until the [commit to the kernel version we are using](https://github.com/LibreELEC/iwlwifi-firmware/commits/master).

[2022-03-08 17:38] GavinDarkglider commented on #1525
Well, we have the new driver, due to a mistake on nvidia's end, and from what I am hearing, they may have made the problem worse, but there are still configurations to test.... I will close this, if there is ever a proper fix.

[2022-03-10 16:28] Cibomatto2002 opened #1626 "Anbernic RG351 Update bug"
- Which version of Lakka are you using? 3.7
- What system hardware are you using? Anbernic RG351
- What did you do? try to update it after it downlodads the update it never updates
- What did you expect to happen? get updated
- What happened instead? nothing

this is been going on since Lakka 3.5

i have to reflash when I want the newest Lakka

[2022-03-10 19:27] gouchi commented on #1541
[Mesa 22.0.0](https://docs.mesa3d.org/relnotes/22.0.0.html) has been released !

[2022-03-12 10:44] gouchi commented on #1541
@atlus666 Can you make a test with [nightly builds](https://nightly.builds.lakka.tv/latest/) to see if the issue is fixed as Mesa 22 has been enabled.

Thank you.

[2022-03-12 12:54] gouchi commented on #1541
Closing this issue as RPi4 users reported it is working now with nightly builds.

[2022-03-12 12:54] #1541 closed

[2022-03-14 07:41] ToKe79 commented on #1626
Can you be more specific? Did you reboot after download? Were there some messages on the screen during the next boot? The update is applied during booting (the init script checks if there is an update available in /storage/.update).

[2022-03-14 08:32] ToKe79 commented on #1561
@sharkytowers can you test [this image](https://nightly.builds.lakka.tv/members/vudiq/1561/) (clean flash, please, so it does not collide with any firmware that you have copied over).
These are the changes: https://github.com/ToKe79/Lakka-LibreELEC/commits/lakka4-iwlwifi

[2022-03-14 12:43] Cibomatto2002 commented on #1626
I rebooted it there was no messages of any kind it just shows lakka 3.6 I updated to 3.7 but I had to do a fresh install.

[2022-03-15 05:37] Levine91 opened #1632 "[Request] - Add SameDuck core (Mega Duck/Cougar Boy)"
Hello, I'm just wanting to request the addition of the SameDuck core to Lakka, as it would make things far smoother for the very few of us who would love to play Mega Duck/Cougar Boy without going through MAME. Thanks!

[2022-03-15 08:32] gouchi commented on #1632
It seems there is a [branch SameDuck](https://github.com/LIJI32/SameBoy/tree/SameDuck).

Also @ToKe79 we might need to switch to [buildbot tree](https://github.com/libretro/SameBoy/tree/buildbot) from the Libretro repo as it is the default one.

I don't know the difference between the SameDuck libretro core and the upstream one which also supports Libretro.

[2022-03-15 08:40] ToKe79 commented on #1632
I think that builds SameBoy, but the [upstream branch](https://github.com/LIJI32/SameBoy/tree/SameDuck) seems to be the right spot. I will push PR, package is ready.

[2022-03-15 11:56] ToKe79 commented on #1632
@Levine91 can you test image from [here](http://nightly.builds.lakka.tv/PRs/pr_1633_000476/), if the core works as you expect?

[2022-03-15 14:32] denser opened #1634 "usbhid.quirks and Twin Usb Joystick"
While use LAKKA 2.2 and Twin USB Joystick - device act as two-player  and in Input settings i can choose #1 and #2.

After reinstall LAKKA 3.6 in Input settings i can see only one Twin USB Joystick.

Digging lead me to
https://github.com/libretro/RetroArch/issues/3084
and i try to use some cheat :) add this in syslinux.cfg:
`usbhid.quirks=0x2563:0x0555:0x040`
and reboot. Now I can see both #1 and

[2022-03-15 15:00] gouchi commented on #1634
Hi,

Some devices require to add/modify some "quirk" because they have some strange behavior otherwise.

Thank you.

Kind regards,

[2022-03-15 15:00] #1634 closed, assigned to nobody

[2022-03-15 15:22] denser commented on #1634
But in 2.2 it works "out of the box". This confuse me a bit. :)

[2022-03-15 15:56] #1632 closed, assigned to ToKe79

[2022-03-15 16:33] gouchi commented on #1634
Surely because we updated Linux kernel version between the two versions.

[2022-03-15 17:48] Eusino opened #1636 "Add SAME_CDI core"
Hi!
Would it be possible to add this core to Lakka?
https://github.com/libretro/same_cdi

[2022-03-16 21:45] RedCoder09 opened #1637 "Black screen when booting Lakka USB"
I'm trying to install Lakka on an old Dell Inspiron PC, but when I boot live or installer, the screen just goes black. No berry, no nothing. It has an Intel Pentium inside, and it seems that it's using the wrong video output. I have Windows 10 on it, and have tried the stable and nightly builds. Any help appreciated!

[2022-03-17 13:36] gouchi commented on #1637
Please try to boot with boot parameters

`live ssh textmode`

Then provide some log with [createlog](https://lakka.tv/doc/Troubleshooting-Lakka/).

Thank you.

[2022-03-17 20:38] RedCoder09 commented on #1637
Textmode doesn't work either.

[2022-03-17 20:45] ToKe79 commented on #1637
Hi @RedCoder09,
you mentioned, that you suspect that it is outputting to the wrong video output - can you be more specific on your hardware, mostly GPU(s)? Can you try the other video outpu?
Thanks!

[2022-03-17 21:41] RedCoder09 commented on #1637
I have an ATI Mobility Radeon HD 4300 Series GPU, and I unfortunately don't have the cable needed for connecting to another display.

[2022-03-17 22:41] gouchi commented on #1637
You may try to [ssh to the station](https://www.lakka.tv/doc/Finding-the-IP-of-your-Lakka-box/) if you plugged Ethernet cable.

[2022-03-19 10:19] smilerliu opened #1638 "Add lr-race to GPI + Zero 1 Build"
Currently the GPI case + zero 1 3.7 build only includes one core for neogeo pocket: beetle neopop. It doesn't run well on the weak zero 1 hardware. I've heard good words about the race core running at 60 fps on zero 1. Can we add the race core to the build?

[2022-03-19 12:59] RedCoder09 commented on #1637
It's not showing up either.

[2022-03-19 19:53] gouchi commented on #1637
Strange try to add `debugging` so boot with `live ssh textmode debugging`

Thank you.

[2022-03-19 21:16] RedCoder09 commented on #1637
Nope, still not working.

[2022-03-20 09:19] gouchi commented on #1637
You should try to get another cable or adapter of the the other output. You tried DVI output but you don't have VGA cable ?

[2022-03-20 10:58] kr43xpo opened #1640 "IMX6.arm does not boot"
I'm trying to install Lakka on an iMX6.arm (IMX6QUAD udoo).
I have tried several versions, but all with the same result.
Only a very old version works for me (2.3)

With the latest version (Lakka-iMX6.arm-nightly-v4.x-20220318), activating the logs at boot, I see the following:

![photo_2022-03-20_11-46-15](https://user-images.githubusercontent.com/33052589/159158815-8a643d89-f7fe-40ea-9bb5-9113f4

[2022-03-20 11:12] ToKe79 commented on #1640
Sorry to hear that, but unfortunately none of the active contributors has access to this board. However, as we use LibreELEC as our foundation, you may check if LibreELEC nightly builds work and if these work, support in future is possible - https://test.libreelec.tv/

[2022-03-20 11:45] kr43xpo commented on #1640
There is a nightly build version (LibreELEC-iMX6.arm-11.0-nightly-20220319-5591832-udoo.img), but I get the same error.
I will test in the future with new versions (if any).
Thanks.

[2022-03-20 11:53] ToKe79 commented on #1640
OK, so I'm closing this issue then, as we cannot fix it currently. I do not think anything will change until there is somebody with a fix in the upstream.

[2022-03-20 11:53] #1640 closed, assigned to nobody

[2022-03-20 12:31] RedCoder09 commented on #1637
No, I can't try either.

[2022-03-20 15:50] ToKe79 commented on #1550
@beatle-fan can you test with latest version?
anyway - after you assign a button for action, I think you have to hold the key assigned to `Hotkey Enable` - e.g. on gamepad `Hotkey Enable` assigned to `SELECT` and `Volume Up` assigned to `Right thumb stick up` requires pressing `SELECT`+`Right thumb stick up` in order to trigger volume up. or the mapping failed when you tried to assign the button -

[2022-03-20 17:40] gouchi commented on #1637
As you can't use other cable, you may try to force video output using something like on boot parameters depending of your cable

Force DVI output and disable VGA
`video=DVI-I-1:1024x768@85 video=VGA-1:d`

Or force VGA output and disable DVI
`video=VGA-1:640x480@75 video=DVI-I-1:d`

[Source](https://wiki.archlinux.org/title/kernel_mode_setting#Forcing_modes)

[2022-03-20 19:11] smilerliu commented on #1544
Just to confirm that I tried the 4.0 build today and the keys work properly.

[2022-03-20 21:03] #1638 closed, assigned to nobody

[2022-03-20 22:27] michaelsmolinski opened #1646 "No Dolphin Standalone Core"
Dolphin downloads, but doesn’t appear on ‘Standalone Cores’ menu.

Running Lakka 4.0 release on Odroid N2+

[2022-03-21 01:33] smilerliu opened #1647 ""community" tag in official 4.0 image"
The 4.0 image for gpi case + zero 1 has the "community" tag, not the "official" tag. This tag shows up at boot time.

[2022-03-21 08:07] ToKe79 commented on #1561
@sharkytowers it would be very kind of you, if you could test with [this image](https://nightly.builds.lakka.tv/PRs/pr_1641_000479/Generic.x86_64/Lakka-Generic.x86_64-4.0-devel-20220320160024-586f9f6.img.gz), so we know that our fix is working :-)
Thank you in advance!

[2022-03-21 08:10] ToKe79 commented on #1647
oops, I forgot to add the OFFICIAL flag to the make command when building the release images.
It is not an issue however, but thank you for bringing this up.

[2022-03-21 08:10] #1647 closed, assigned to nobody

[2022-03-21 14:04] Cibomatto2002 opened #1648 "Anbernic RG351P/M download link does nothing"
Trying to download Lakka 3.7.1 the link does nothing.

http://www.lakka.tv/get/windows/rockchip/

[2022-03-21 14:33] sharkytowers commented on #1561
No problem @ToKe79 !  I'm downloading the image now and will get back to you as soon as I can.

[2022-03-21 16:21] sharkytowers commented on #1561
@ToKe79 It seems to be working perfectly.  Well, that is to say when first joining a Wifi network it says Failed (but does indeed connect), but I think that is kind of a standard thing.

[2022-03-21 16:35] #1567 closed

[2022-03-21 20:01] Cibomatto2002 commented on #1648
it's working now nevermind.

[2022-03-21 20:01] #1648 closed, assigned to nobody

[2022-03-22 15:17] mediamoshpit opened #1651 "PCSX ReARMed Crashing (Lakka 4.0 RPi4)"
- Which version of Lakka are you using?
4.0
- What system hardware are you using?
RPi4b 4GB
- What did you do?
Launch Games
- What did you expect to happen?
Games to run in stable manner
- What happened instead?
Games run for various lengths of time before crashing.

Below is a log of 'Wipeout 3: Special Edition' running and crashing. I thought it might be a good example as it always crashes early

[2022-03-22 15:24] mediamoshpit opened #1652 "DuckStation Failing to Launch (Lakka 4.0 RPi4)"
- Which version of Lakka are you using?
4.0
- What system hardware are you using?
RPi4b 4GB
- What did you do?
Launch games
- What did you expect to happen?
Games to launch
- What happened instead?
Core crashes immediately

Below is a log of 'Alien Trilogy' attempting to Launch.

[code]

[2022-03-22 15:33] mediamoshpit opened #1653 "DOSBox Pure Failing to Launch (Lakka 4.0 RPi4)"
- Which version of Lakka are you using?
4.0
- What system hardware are you using?
RPi4b 4GB
- What did you do?
Launch Games
- What did you expect to happen?
Games to launch
- What happened instead?
Core exits immediately with `[ERROR] Error(s): /tmp/cores/dosbox_pure_libretro.so: cannot open shared object file: No such file or directory`

Below is the full log launching 'Archon'.

[code]

[2022-03-22 20:08] ToKe79 commented on #1652
libretro version of duckstation is outdated, it is binary downloaded from the maintainers website, probably incompatible with the rest of the Lakka system. please use swanstation instead. duckstation core will be dropped from Lakka.

[2022-03-22 20:08] #1652 closed, assigned to nobody

[2022-03-22 20:13] ToKe79 commented on #1653
I just checked the core in the image:
[code]

For some reason it is built as x86_64 binary, not aarch64. we will look into it, thank you for your report.

[2022-03-22 20:56] mediamoshpit opened #1656 "SwanStation Failing to Launch (Lakka 4.0 RPi4)"
I had previously opened a virtually identical issue for DuckStation, after reading somewhere that development had resumed there. At any rate they both appear to crash under the same circumstances in Lakka 4.0.

- Which version of Lakka are you using?
4.0
- What system hardware are you using?
RPi4b 4GB
- What did you do?
Launch games
- What did you expect to happen?
Games to launch
- What happened

[2022-03-22 21:19] ToKe79 commented on #1656
can you test with `vulkan` driver selected in Settings &rarr; Drivers &rarr; Video?

[2022-03-22 21:25] ToKe79 commented on #1653
You can test on RPi4.aarch64 with [this](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-dosbox_pure/v1-compiler/dosbox_pure_libretro.so) core:

- scp to `/tmp/cores` OR
- copy via samba to `Cores` share OR
- copy to the second partition on the SD card to folder `cores`

Thank you.

[2022-03-22 22:45] mediamoshpit commented on #1653
The core will now load without content, but still fails to launch with anything. I tried a few variations with different exe and bat files, all with the same result. Below is a log with a bat file launching 'Archon Ultra'

Thank you for your time.

[code]

[2022-03-22 23:13] ToKe79 commented on #1653
I do not see any error in the log - did it just hang?
anyway - [here](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-dosbox_pure/v2-compiler+no_optimize/dosbox_pure_libretro.so) is another build of the core for RPi4.aarch64 - without optimizations - we use gcc10 and the Makefile states that there are some issues with gcc10 + -O2, but it also mentions arm7l, so not sure if aarch64 is af

[2022-03-22 23:34] ToKe79 commented on #1653
I also built two versions from the upstream repository https://github.com/schellingb/dosbox-pure:
- [forced toolchain compiler](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-dosbox_pure/v3-upstream-compiler_fix/dosbox_pure_libretro.so)
- [forced toolchain compiler + no optimizations](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-dosbox_pure/v4-upstream-compiler_and_optimi

[2022-03-23 00:10] ToKe79 commented on #1653
added another build attempts [here](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-dosbox_pure/) - `v5` through `v8`. if you can also test these, if any of those works for you. thanks a lot!

[2022-03-23 00:17] mediamoshpit commented on #1653
Not a problem. The previous builds all produced a crash. I'll test this new batch before long.

[2022-03-23 00:23] howard445 opened #1658 "fast forward function broken"
I updated from 1.9.14 to 1.10.1 and ever sense then my fast forward just crashes if I turn vsync off I can use it but now speed change meaning it's not working.

[2022-03-23 00:52] #1658 closed, assigned to ToKe79

[2022-03-23 02:37] mediamoshpit commented on #1653
Well, I hate to report that all eight were a no go as well. Each one I tried with multiple exe files. Every time it results in Lakka/RA itself crashing rather than just the core.

[2022-03-23 02:41] mediamoshpit commented on #1656
It appears to crash with Vulkan as well.

[2022-03-23 07:10] ToKe79 commented on #1656
according to report on discord:

FYI for those trying to use swanstation on 4.0, you need to manually edit the SwanStation.opt file and set the GPU.Rendered="Vulkan" manually or it will crash

Can you try this? I think the file should be somewhere in `/storage/.config/retroarch`, while `/storage/.config` path is also accessible via samba share `Configfiles`.

Edit: also

which you tried, but it se

[2022-03-23 07:53] sajjadsabzkar opened #1659 "Freeze on lakka logo on x96 mini using AMLGX aarch64 4.0 image"
i bootable my sd card with etcher and plug sd card in my device boot successfully.  first step resize partition and reboot after 15 second is ok but after reboot device lock on lakka image and no happen anything.

- Which version of Lakka are you using? 4.0
- What system hardware are you using? x96mini 2g ram / 16g rom
- What did you do?  truning on device
- What did you expect to happen? boot to

[2022-03-23 08:40] ToKe79 commented on #1659
Hi, can you gather some logs by following [this guide](https://github.com/libretro/Lakka-LibreELEC/wiki/Troubleshooting-Lakka#troubleshooting-stuck-on-lakka-flower-logo) - as you have Amlogic device, you will have to edit `uEnv.ini` in the root of the SD card.

[2022-03-23 09:06] ToKe79 commented on #1653
Thank you for your time.

So it seems that it is related to the compiler then. I will merge at least my changes to the package, so the taget-toolchain-g++ is used (to build binary for the target system).

[2022-03-23 09:39] ToKe79 commented on #1653
I just noticed that the CPUFLAGS were not added (had to modify the Makefile to see the actual build commands to notice this). can you try the [9th iteration](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-dosbox_pure/v9-added_cpuflags/dosbox_pure_libretro.so)? :-D

[2022-03-23 09:57] ToKe79 commented on #1646
I do not think Lakka supports standalone dolphin emulator. Did you download the file from https://buildbot.libretro.com/assets/system/Dolphin.zip? If so, these are only assets for the dolphin core, which are already included in the image and there is no need to download them.

[2022-03-23 10:43] atlus666 opened #1660 "flycast only sound ,no screen (Lakka 3.7 & 4.0 Pi4 arm64)"
Which version of Lakka are you using?
    3.7 & 4.0 (both have problem)
    What system hardware are you using?
    RPi4b 4GB
    What did you do?
    Launch Games
    What did you expect to happen?
    Games to launch
    What happened instead?
    the screen can't show game , just black screen ,but have game sound ( video driver "gl " )

[2022-03-23 10:55] ToKe79 commented on #1481
You can test mame "current" with images here: http://nightly.builds.lakka.tv/PRs/pr_1650_000486/

[2022-03-23 12:45] sajjadsabzkar commented on #1659
Ok i'll check it

[2022-03-23 14:56] cesartaqui commented on #1659
Same insue here. Lakka 4.0 pc 64bits USB image.

[2022-03-23 15:15] ToKe79 commented on #1659
If you have Nvidia GPU, we have a bug, you can try image from here - http://nightly.builds.lakka.tv/PRs/pr_1655_000488/

[2022-03-23 15:35] cesartaqui commented on #1659
Yes! I have Nvidia GPU. Thanks!

[2022-03-23 16:25] mediamoshpit commented on #1656
Manually editing the .opt file did the trick.

[2022-03-23 17:21] ToKe79 commented on #1636
@Eusino you can test image from here, which includes the same_cdi core - http://nightly.builds.lakka.tv/PRs/pr_1654_000490/

[2022-03-23 18:18] mediamoshpit commented on #1653
Content is now launching in a stable manner, so that is very positive. However, every couple of minutes the screen shows unusual graphical glitches. More disturbingly, I notice a performance hit in the neighborhood of 60-70 percent. I saw the same drop in performance when testing DOSBox/DBSVN, but I chalked that up to development regression. As it stands it would seem all three DOS cores are exper

[2022-03-23 20:12] ToKe79 commented on #1653
that is positive news... what I did also was that I changed `-O2` to `-O3`, [here](https://nightly.builds.lakka.tv/members/vudiq/RPi4.aarch64-dosbox_pure/v10-rollback-O3/dosbox_pure_libretro.so) is this change reverted, if you are still up for testing.

[2022-03-23 21:23] mediamoshpit commented on #1653
OK, The new build fails to launch. On the bright side, I found that the severe performance issues from the previous build stemmed from a setting I had left in place to test a particular feature between builds. Sorry for the confusion there. I guess this means the only remaining issues are graphical glitches. I'll keep testing through my library to see what I notice.

[2022-03-23 21:24] ToKe79 commented on #1653
ok, so for now i'll go to the 9th iteration and lets hope the glitches will be solved by a core update. thank you for your patience :)

[2022-03-23 21:32] #1653 closed, assigned to nobody

[2022-03-23 21:35] ToKe79 commented on #1653
for the graphical glitches - if you can confirm that it is only Lakka related (it's not a core issue), please reopen this issue. thanks!

[2022-03-23 23:02] mediamoshpit commented on #1653
Sure. Just to leave a few observations for anyone in passing. My perspective in this is not only in moving from Lakka 3.7 to 4.0, but also migrating from a 32 to 64-bit installation for whatever that's worth. Also, it would seem that these graphical issues are only found when running certain types of games that appear to be terminal-driven graphics.

Lastly, these glitches can be alleviated and pe

[2022-03-24 05:13] sajjadsabzkar commented on #1659
i followed  the guide and now i have shell / terminal for use . which command to start lakka main menu ?

[2022-03-24 05:37] sajjadsabzkar commented on #1659
i run command retroarch -v and save response to log.txt
i also test Lakka-S905.arm-2.3.1.img.gz  version of lakka and everything is ok but in latest image this problem happen .
[log.txt](https://github.com/libretro/Lakka-LibreELEC/files/8338710/log.txt)

[2022-03-24 09:43] ToKe79 commented on #1659
can you also give me output of `ldd /usr/bin/retroarch` and also `LIBGL_DEBUG=verbose retroarch -v`. Thank you!

[2022-03-24 11:30] sajjadsabzkar commented on #1659
[libgl_d_retroarch.txt](https://github.com/libretro/Lakka-LibreELEC/files/8341043/libgl_d_retroarch.txt)
verbose retroarch -v`. Thank you!

Yes of course , output of `ldd /usr/bin/retroarch` into ldd_log.txt file and output of  `LIBGL_DEBUG=verbose retroarch -v` into libgl_d_retroarch.txt file

[ldd_log.txt](https://github.com/libretro/Lakka-LibreELEC/files/8341041/ldd_log.txt)
[libgl_d_retroarch.

[2022-03-24 12:49] gouchi commented on #1660
Please try to provide some [logs](https://lakka.tv/doc/Troubleshooting-Lakka/) with `createlog` ?

Did you try with other video driver ?

Also if possible you can make some test with [nightly builds](https://nightly.builds.lakka.tv/latest/RPi4.aarch64/) ?

Thank you.

[2022-03-24 13:20] ToKe79 commented on #1659
okay, I think we would need full logs - after you get to the shell prompt and execute `systemctl start retroarch.target` (there will be no output to this command, only back to shell prompt), please run `createlog` to collect all logs. As you will have no network and probably do not have the possibilty to read the ext4 partition, select the option "2" - to store the archive with logs on the FAT32 p

[2022-03-24 13:43] ToKe79 commented on #1636
@Eusino the core can be downloaded from [here](https://nightly.builds.lakka.tv/members/vudiq/same_cdi/), then store it in `/tmp/cores` / samba share `Cores` / copy to `LAKKA_DISK:/cores`.

[2022-03-24 13:44] ToKe79 commented on #1481
@vus7294 the core can be downloaded from [here](https://nightly.builds.lakka.tv/members/vudiq/mame/), then store it in `/tmp/cores` / samba share `Cores` / copy to `LAKKA_DISK:/cores`.

[2022-03-24 13:50] sajjadsabzkar commented on #1659
Ok I upload the zip file contain all logs for you.

[log-1970-01-01-00.00.53.zip](https://github.com/libretro/Lakka-LibreELEC/files/8342003/log-1970-01-01-00.00.53.zip)

[2022-03-24 14:38] Mr-Jake commented on #1646
The "Standalone Cores" menu lists cores that are contentless, meaning cores that do not load roms. Dolphin is a content core, so it would not be displayed in the "Standalone Cores" menu. I think this confuses a lot of people because they think standalone core means standalone emulator, but it does not.

[2022-03-24 14:50] mediamoshpit commented on #1656
Closed this, but was probably an overstep on my part, as I can't claim to fully understand the extent of the issue.

[2022-03-24 14:59] ToKe79 commented on #1646
I discussed this with the RetroArch devs - the archives in the [`system` folder on buildbot](https://buildbot.libretro.com/assets/system/) are supplementary files to various cores, some of which are "standalone" cores, but require additional data (game files) to run. The Dolphin archive contains files for the libretro dolphin core. However, these files are already included in the Lakka image. It i

[2022-03-24 14:59] #1646 closed, assigned to nobody

[2022-03-24 15:28] #1636 closed, assigned to nobody

[2022-03-24 15:29] #1481 closed

[2022-03-24 18:41] michaelsmolinski commented on #1646
Both, thank you for the quick turnaround.

@Mr-Jake Indeed. I was under the mistaken impression that the "standalone cores" menu was for standalone emulators (i.e. not using libretro). I was trying to see if any noticeable performance and compatibility differences between dolphin standalone emulator vs. dolphin libretro core.

@ToKe79  Thank you for those details. Just for clarification, I downloa

[2022-03-24 19:22] SopTheSop27 opened #1662 "[Android] Add Edit Layouts: Move Layouts, Layouts Size"
Add Edit Layouts: Move Layouts, Layouts Size
Also Add Genesis 6-button Pad

[2022-03-24 20:01] gouchi commented on #1662
You should open this issue to the [dedicated repository](https://github.com/libretro/retroarch-joypad-autoconfig).

Thank you.

[2022-03-24 20:01] #1662 closed, assigned to nobody

[2022-03-25 01:32] dokoma commented on #1372
Hello @ToKe79 ! I tried again and again on my generic-pc-x64-nvdiaGTX1050 with pcsx2 core but with no luck and no any further log ,until i see this post.  it crashed and restart retroarch everytime, Is it still "windows-x86-64-only-core" today?  btw:  I tried batorcera 3.3 with the same pc, besides its standolone pcsx2, the pcsx2-core works, could that core be used?

[2022-03-25 04:24] atlus666 commented on #1660
I tried "gl "  "glcore' no one works

[2022-03-25 20:12] ToKe79 commented on #1651
@mediamoshpit can you test with this image - RA 1.10.2 + updated cores https://nightly.builds.lakka.tv/PRs/pr_1661_000494/RPi4.aarch64/
Thank you!

[2022-03-26 00:02] ab77 commented on #1538
I've tried v4.0 and this version still has the issue described in [comment](https://github.com/libretro/Lakka-LibreELEC/issues/1538#issuecomment-968390126).

I've also tried using HDMI to CSI-2 bridge for a laugh, which works fine with v3.3 and it also came up with a blank screen with Lakka v4.0. I didn't try the dev. build.

[2022-03-26 03:28] mediamoshpit commented on #1651
Still experiencing crashes in PCSX ReARMed. I can provide a log if necessary. Interestingly I'm also noticing the graphical glitches that were seen in DOSBox Pure. Since that issue closed I have also updated my LibreElec install and have noticed similar glitches afterward there as well. While they're more infrequent and visually a little different, I now can't help but think the issue comes from u

[2022-03-26 06:48] smilerliu opened #1664 "Race Core Crashes when Loading State on GPi case + Pi Zero W/Pi Zero 2 W"
I'm using the nightly builds 20220321.

[2022-03-26 06:48] smilerliu commented on #1664
I verified that the same core for Android doesn't have this problem.

[2022-03-26 10:00] atlus666 commented on #1660
hi , here is the log with lakka 4.0 use driver "gl" => no game screen output

[INFO] [Config]: Loading default config.
[INFO] [Config]: Looking for config in: "/storage/.config/retroarch/retroarch.cfg".
[INFO] RetroArch 1.10.1 (Git 4a53c67)
[INFO] === Build =======================================
[INFO] 容量:  ASIMD
[INFO] Built: Mar 14 2022
[INFO] Version: 1.10.1
[INFO] Git: 4a53c67
[INFO] ========

[2022-03-26 10:08] atlus666 commented on #1660
hi ,here is lakka 4.0 with driver " glcore"  => no game screen output

[INFO] [Config]: Loading default config.
[INFO] [Config]: Looking for config in: "/storage/.config/retroarch/retroarch.cfg".
[INFO] RetroArch 1.10.1 (Git 4a53c67)
[INFO] === Build =======================================
[INFO] 容量:  ASIMD
[INFO] Built: Mar 14 2022
[INFO] Version: 1.10.1
[INFO] Git: 4a53c67
[INFO] ===============

[2022-03-26 10:18] atlus666 commented on #1660
it may not rom type problem , I try another rom use gdi type (not cdi) ,it just crash

[INFO] [Overrides]: No core-specific overrides found at "/storage/.config/retroarch/config/Flycast/Flycast.cfg".
[INFO] [Overrides]: No content-dir-specific overrides found at "/storage/.config/retroarch/config/Flycast/[GDI] Sonic Adventure 2 (US).cfg".
[INFO] [Overrides]: No game-specific overrides found at "/s

[2022-03-26 10:49] atlus666 commented on #1660
I rollback to lakka 3.6 , the same sd card ,same rom , It work prefect
here is log may help you to compare

Lakka (official): 3.6 (RPi4.aarch64)
Lakka:~ # systemctl stop retroarch.service ; retroarch -vsystemctl stop retroarc
h.service ; retroarch -vsystemctl stop retroarch.service ; retroarch -v
[INFO] [Config]: Loading default config.
[INFO] [Config]: Looking for config in: "/storage/.config/ret

[2022-03-26 18:30] smilerliu opened #1666 "pi02gpi code cleanup"
The pi02gpi support was originally provided by Cicirifu. I had a chat with Cicirifu and learned that some of the code was unnecessary and may be even harmful:

- Unused dts files should be removed:
https://github.com/libretro/Lakka-LibreELEC/blob/Lakka-v4.x/projects/RPi/devices/Pi02GPi/config/dpi24-gpi-overlay__.dts
https://github.com/libretro/Lakka-LibreELEC/blob/Lakka-v4.x/projects/RPi/devices/P

[2022-03-27 18:02] ToKe79 commented on #1666
all files except gpi.patch are not used in the build. the patch is probably adding stuff for the GPICase, so it might be useful.
@Cicirifu can you, please, confirm?

[2022-03-27 18:52] ToKe79 commented on #1664
can you please provide some logs to see if there is anything that would give any pointers?
see [troubleshooting guide for lakka](https://github.com/libretro/Lakka-LibreELEC/wiki/Troubleshooting-Lakka), best would be [archive created by `createlog` script](https://github.com/libretro/Lakka-LibreELEC/wiki/Troubleshooting-Lakka#automated-collection-of-relevant-logs).

[2022-03-27 20:17] ToKe79 commented on #1538
It is a known issue, you can use this workaround by @Brunnis: https://github.com/raspberrypi/firmware/issues/1648#issuecomment-986517797

[2022-03-27 20:22] ToKe79 commented on #1666
@smilerliu you can test [this image](https://nightly.builds.lakka.tv/members/vudiq/pi02gpi_cleanup/) based on https://github.com/libretro/Lakka-LibreELEC/tree/lakka4-pi02gpi_cleanup

[2022-03-27 20:25] Cicirifu commented on #1666
The kernel patch was to add DPI display support for the VC4 driver. Since the build is not using VC4 KMS/DRM, it is unnecessary.

[2022-03-27 22:31] smilerliu commented on #1666
I downloaded just the kernel and replaced my 20220321 build's kernel with it. Then I tried a game from each of the systems I have (gb, gba, md, neogeo, neogeo pocket, psx) and I had zero issues.

Is this enough testing for the kernel patch in question? If not, I can flash a brand new image and test again.

[2022-03-27 23:39] smilerliu commented on #1666
Flashed the full image to a new card and tried a few games. Didn't notice any issue.

[2022-03-28 04:11] ghost opened #1667 "Genesis Plus GX - Only the "Wide" variant available"
Hello!

I'd like to report that, as of version 4.0, the regular Genesis Plus GX core is missing from Lakka, while only the Wide variant core remains. Browsing through the available cores, I can see that the regular Genesis Plus GX is "available", but in name only – loading a content reveals it's the Wide core instead. Everything was normal up to version 3.7, but that changed after I upgraded to ve

[2022-03-28 04:46] ToKe79 commented on #1667
Try resetting the core association with the game in playlist.

[2022-03-28 06:20] smilerliu commented on #1664
What I did was just to start the game and load state 0. Log:

***
[INFO] [Core]: Using content: "/storage/roms/ngp/Metal Slug - 1st Mission.ngp".
[INFO] [Core]: Content ran for a total of: 00 hours, 00 minutes, 00 seconds.
[INFO] [Core]: Unloading core..
[INFO] [Core]: Unloading core symbols..
[INFO] [Video]: Does not have enough samples for monitor refresh rate estimation. Requires to run for at

[2022-03-28 06:54] ToKe79 commented on #1664
did this happen when you tested the core on GPICase + Pi Zero in https://github.com/libretro/Lakka-LibreELEC/issues/1638? Is this specific to the Zero 2 GPICase build? Can you test with RPi3.aarch64 build without the GPICase mod?
Or maybe did the cleanup help somewhat - https://github.com/libretro/Lakka-LibreELEC/issues/1666 - https://nightly.builds.lakka.tv/members/vudiq/pi02gpi_cleanup/?

[2022-03-28 07:00] ToKe79 commented on #1667
ok, found the error in the package.mk - the wide core was copied to the image with the "regular" name. fixed in #1661

[2022-03-28 07:18] smilerliu commented on #1664
The core behaves the same with GPi case + Pi Zero W, so I don't think the cleanup helps.

I tried with the kernel from the cleanup build and it behaves the same.

[2022-03-28 07:21] smilerliu commented on #1664
I don't have the accessories to use Pi Zero 2 W outside of the GPI case (no mini hdmi to hdmi connector), so I can't test the rpi3 aarch64 build.

[2022-03-28 07:25] smilerliu commented on #1664
I didn't test the state loading/saving for #1638.

[2022-03-28 07:25] ToKe79 commented on #1666
closing with 288ebe24bc6648e6a82a370e779efd45b3842b16

[2022-03-28 07:25] #1666 closed, assigned to ToKe79

[2022-03-28 07:29] smilerliu commented on #1664
Is there an easy way to build the core for 3.7? I can try it there to see whether the crash is related to the transition to 4.x.

[2022-03-28 12:51] ghost commented on #1667
Thank you for helping!

[2022-03-28 12:51] #1667 closed, assigned to nobody

[2022-03-28 12:54] ToKe79 commented on #1664
Here: https://nightly.builds.lakka.tv/members/vudiq/pi02-3.7.1-test/

[2022-03-28 15:40] smilerliu commented on #1664
It worked briefly at the beginning, but after I played a bit more and did a few save states, it started to fail in the same way as 4.x.

I suspect this is a core problem and not a Lakka problem... Will do more testing on other platforms.

[2022-03-29 02:45] d-apps opened #1668 "[Feature request] Support Wi-Fi on Orange Pi Plus 2E (Realtek RTL8189ETV, IEEE 802.11 b/g/n)"
Which version of Lakka are you using?
4.1

What system hardware are you using?
Orange Pi Plus 2E

What did you do?
Enter in Configuration, Wi-F, enable Wi-Fi, search for networks.

What did you expect to happen?
Show the networks available to connect.

What happened instead?
Networks are not showing.

Is it possible to support Wi-Fi in Orange Pi Plus 2E (Realtek RTL8189ETV, IEEE 802.11 b/g/n) plea

[2022-03-29 06:59] greatliu opened #1669 "lakka4.0 x86 bug report"
found bug:
1.lakka system cannot boot in nvidia card. I used it corrently in amd card computer;
2.cannot scan(import content) wbfs file for wii, I can ues wbfs only by "load content";
3.cannot select GC controllor for wii games, e.g. mario cart wii.

Thanks.

[2022-03-29 09:50] ToKe79 commented on #1669
Hi,
Re issue 1: is fixed in dev/nightly build
Re issue 2: format is probably not supported by libretro database - @RobLoach ?
Re issue 3: did it work in Lakka 3.7?

[2022-03-29 14:01] smilerliu commented on #1664
Tried more with retroarch for Android and retroarch for rg350, and none of them have this problem. So it seems to be a specific lakka for rpi problem.

[2022-03-29 14:03] RobLoach commented on #1669
2. Use Manual Scan for content that won't scan. Wbfs serial scanning isn't supported in RA right now.

[2022-03-30 04:35] DrunkenMonk0001 commented on #1651
Disabling real bios allows games to load without crashing, however not using real bios disables too many other features (e.g consistent sound in games)

Using SCPH5002 with Digimon World 1 (EUR) as an example, It will seemingly work perfect at first, until the emulator freezes when using a bios and attempting to access the save/load menu and without the bios it functions fine, but has almost a com

[2022-03-30 04:44] DrunkenMonk0001 opened #1671 "PCSX ReARMed Crashing (Lakka 4.0 Nintendo Switch)"
**Which version of Lakka are you using?**
  4.0
**What system hardware are you using?**
  Nintendo Switch
**What did you do?**
  Selected game (e.g Digimon World 1), PCSXrearmed core and had bios enabled
**What did you expect to happen?**
  Game being able to reach the menu load a game save.
**What happened instead?**
  Complete freeze on the accessing memory card screen, emulator became completel

[2022-03-30 08:11] ToKe79 commented on #1668
Hi,
based on information from [here](https://linux-sunxi.org/Wifi#:~:text=%C2%A0%3F%3F-,RTL8189ES%20/%20RTL8189ETV,make%20%2Dj4%20ARCH%3Darm%20CROSS_COMPILE%3Darm%2Dlinux%2Dgnu%2D%20KSRC%3D../linux,-RTL8189FTV) I added the driver/module. You can test with image from [here](https://nightly.builds.lakka.tv/members/vudiq/h3-rtl8189es/) and give me feedback. If positive, then it can be included in the

[2022-03-30 22:23] ToKe79 commented on #1532
Hi @s3tupw1zard
I found different repo with the driver - https://github.com/brektrou/rtl8821CU
Can you retest with image from https://nightly.builds.lakka.tv/members/vudiq/rk3326+rtl8821cu/

[2022-03-31 22:20] ToKe79 commented on #1671
duplicate of #1651

[2022-03-31 22:20] #1671 closed, assigned to nobody

[2022-03-31 22:28] ToKe79 commented on #1651
I can confirm this behavior on Generic 64-bit. The crash is not at a specific time/place in content, sometimes after item in main menu, sometimes able to play through 1 stage/level and then crashes during reading memory card... Seems to be related to dynarec. When I switch dynarec off, I did not encounter such crash during 15 minutes. Below are logs.

dynarec enabled:
[code]

dynarec enabled:
[cod

[2022-03-31 23:01] DrunkenMonk0001 commented on #1651
I had noted the issue be repeatable specifically on the switch version, it would hang entirely when accessing the memory card menu. This was very consistent when testing, switching between utilizing the bios and using HLE #1671 This same issue was not repeatable using retroarch + pcsx rearmed on a windows x64 system. Issues may or may not be related, seems likely they are since it's memory card ac

[2022-03-31 23:12] ToKe79 commented on #1651
I had such crashes also during normal gameplay / not accessing memory card (or not at least intentionally, not sure if the game was accessing it).
This probably needs bisecting - do you know date/commit hash of the core you used on windows, which did not show this behavior? With Lakka and Ubuntu I tested the most recent version as of today (https://github.com/libretro/pcsx_rearmed/commit/22b488f32

[2022-03-31 23:17] ToKe79 commented on #1651
Since this is not a Lakka bug, I'm closing this issue, the bug is already reported in the core repo - https://github.com/libretro/pcsx_rearmed/issues/626

[2022-03-31 23:17] #1651 closed, assigned to ToKe79

[2022-04-01 01:20] greatliu commented on #1669
Hi, my friend.
1. Thanks, I am waiting for lakka 4.1 release;
2. I can scan wbfs in previous version, the bug only exists in 4.0;
3. before lakka 4.0, all the dophine emu will crash on my pc(HP elite 8300usdt, i5 3470s, 8g ram, AMD firepro m5100), so 4.0 is the first version I can run wii game. I wish to emulate GC gamepad using my xbox360 controllor.

[2022-04-01 01:21] greatliu commented on #1669
Hi,
But I can scan wbfs in lakka 3.x.
Thanks.

[2022-04-01 10:14] ToKe79 commented on #1669
so the issue is that your xbox360 controller is not working in Lakka at all, or that the mapping is not correct for the Wii?

[2022-04-01 10:34] ToKe79 commented on #1531
as Lakka 4.0 is released, this becomes obsolete.

[2022-04-01 10:34] #1531 closed

[2022-04-01 10:39] ToKe79 commented on #1407
refers to discontinued branch, only updates to RetroArch / libretro-cores. As a workaround try using .dtb from 351ELEC.

[2022-04-01 10:39] #1407 closed

[2022-04-01 10:45] ToKe79 commented on #1626
refers to discontinued branch, only updates to RetroArch / libretro-cores.

Updating via RetroArch requires lot of RAM, as the image/update file is downloaded to RAM and then written to storage. These RK3326 devices have "only" 1GB of RAM, image/update file is more than 600MB. As a workaround place the update file directly into the /storage/.update folder:

- use SCP/SFTP (requires WLAN), or
- use

[2022-04-01 10:45] #1626 closed, assigned to nobody

[2022-04-01 10:47] ToKe79 commented on #1556
refers to discontinued branch, only updates to RetroArch / libretro-cores. could be also bug in the core (which could be fixed with an update of the core in the future).

[2022-04-01 10:47] #1556 closed

[2022-04-01 10:51] ToKe79 commented on #1558
not fixing this. there is plan to port RK3326 and all the consoles (Odroid Go Advance/Super, Anbernic RG351 series, ...) to the 4.x branch in the future, so focus on the port, not fixing old bug, sorry. As a workaround you may try to use .dtb file from 351ELEC build (helps with RG351MP at least).

[2022-04-01 10:51] #1558 closed

[2022-04-01 10:55] ToKe79 commented on #1456
not fixing this. there is plan to port RK3326 and all the consoles (Odroid Go Advance/Super, Anbernic RG351 series, ...) to the 4.x branch in the future, so focus on the port, not fixing old bugs, sorry. As a workaround you may try to use .dtb file from 351ELEC build (helps with RG351MP at least).

I personaly was able to boot dev build on RG351P (which should be the same device, only in plastic c

[2022-04-01 10:55] #1456 closed

[2022-04-01 10:58] ToKe79 commented on #1383
@yikesmeguts @jdalmanza thank you for your feedback. I'm closing this old stale issue. Feel free to open new one in case there is anything we can do.

[2022-04-01 10:58] #1383 closed

[2022-04-01 11:00] ToKe79 commented on #1412
as the focus is currently to bring RK3266 support to the Lakka 4.x branch (with mainline kernel), we will not be fixing old bugs. thank you for your understanding.

[2022-04-01 11:00] #1412 closed

[2022-04-01 11:28] Cee-Aytch opened #1673 "Lakka 4.x RK3328.aarch64 random black screen"
I have noticed that since the 4.x branch was released, the video on my Rock64 (RK3328) will randomly fail to display video either:

- upon launching cores
- upon returning to the Retroarch menu after exiting a core
- sometimes upon initial boot

When the video fails to display, it is clear that the core has not crashed.  Audio still plays in the background, and games will play, just without displa

[2022-04-01 12:58] gouchi commented on #1673
It might coming from the switch to open source drivers [lima](https://docs.mesa3d.org/drivers/lima.html) and [panfrost](https://docs.mesa3d.org/drivers/panfrost.html).

You are using `lima` driver on RK3328.

[2022-04-01 13:14] Cee-Aytch commented on #1383
I agree that this issue has gone stale, and thanks to all who helped investigate the matter.

[2022-04-01 13:20] Cee-Aytch commented on #1673
That seems to be the case; the changes between 3.x and 4.x are far more numerous than just updating the version number. :^)

vudiq has a test build underway, and I’ll try it out as soon as the build is ready. If the open source drivers eventually fully support the Rock64’s gpu, great! If not, I can always revert back to 3.7.

Thanks to all for their time and efforts.

[2022-04-01 13:26] RobLoach commented on #1669
Interesting. WBFS scanning code didn't change, I don't think. Made an issue over at https://github.com/libretro/RetroArch/issues/13810

[2022-04-01 13:32] Cibomatto2002 commented on #1626
ok thanks you for your time.

[2022-04-01 20:32] d-apps commented on #1668
Hi,

Is there any way a can keep all the configurations I made in my current image installed, before installing this image? I have around 20gb of roms and lots of custom configs.

Thanks

Edit: I have another sd card, I will install it, thanks.

[2022-04-01 22:10] ToKe79 commented on #1660
i just tried nightly 2022-04-01 build with vulkan / gl / glcore - works. probably some settings you have changed in RetroArch / core.
Also please note when you change a driver a restart of RetroArch UI is recommended.

[2022-04-01 22:10] #1660 closed, assigned to ToKe79

[2022-04-01 22:12] ToKe79 commented on #1656
does not happen on nightly build 2022.04.01

[2022-04-01 22:12] #1656 closed, assigned to nobody

[2022-04-01 22:13] d-apps commented on #1668
@ToKe79 I just tested and it didn't work.

I enabled Wi-Fi, it scans, after scan complete it doesn't show any network.

[2022-04-02 04:39] greatliu commented on #1669
I mean, I can not select GC controllor in wii game "controllor" setting, the aviliable selection is wiimote, wiimote(sideways) and so on.

As I know, a lot of wii game support GC controllor, like resident evil, mario kart wii......

***@***.***

From: Tomáš Kelemen
Date: 2022-04-01 18:14
To: libretro/Lakka-LibreELEC
CC: greatliu; Author
Subject: Re: [libretro/Lakka-LibreELEC] lakka4.0 x86 bug repo

[2022-04-02 12:19] gravitone commented on #1507
Yes, issue is still present in the most recent Lakka 4.x builds, nightlies.

[2022-04-02 20:13] gouchi commented on #1507
So we might need to add `VK_KHR_display` support like it has [been added in PPSSPP](https://github.com/hrydgard/ppsspp/commit/e3540ccd17193e131d42290a9dd4d6bca6e5f634) so that it can work on DRM/KMS ?

[2022-04-02 20:50] gravitone commented on #1507
That might be the case. I'm not familiar enough with Kms/DRM to confirm
this properly. The core might have other issues currently. Did a quick
check on my windows pc and it appears to segfault the same way as on lakka
with vulkan.
On Sat, 2 Apr 2022, 10:14 pm gouchi, ***@***.***> wrote:

[2022-04-02 20:52] gravitone commented on #1507
This is the current log info I have from the lakka/pi build.

[INFO] [Environ]: GET_RUMBLE_INTERFACE.
[INFO] [Environ]: SET_CONTROLLER_INFO.
[INFO] [SRAM]: Skipping SRAM load.
[INFO] [Core]: Version of libretro API: 1, Compiled against API: 1
[INFO] [Audio]: Set audio input rate to: 32029.00 Hz.
[INFO] [Video]: Timings deviate too much. Will not adjust. (Display = 60.00
Hz, Game = 50.00 Hz)
[INFO]

[2022-04-02 23:54] greatliu commented on #1669
Thanks for support. I cannot understand the code. I will waiting for next release.

[2022-04-03 02:54] RobLoach commented on #1669
2. Pkos found a an update for WBFS scanning which is now in RetroArch `master`. Hopefully the additional magic values help :+1:

[2022-04-03 07:41] greatliu commented on #1669
thanks, my friend.

***@***.***

From: Rob Loach
Date: 2022-04-03 10:54
To: libretro/Lakka-LibreELEC
CC: greatliu; Author
Subject: Re: [libretro/Lakka-LibreELEC] lakka4.0 x86 bug report (Issue #1669)
Pkos found a an update for WBFS scanning which is now in RetroArch master. Hopefully the additional magic values help
―
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receivi

[2022-04-03 18:05] ToKe79 commented on #1669
to your 3rd issue - gamecube controller - I just tried one wii iso, after you start the content, open the RetroArch menu (F1 key or your mapped button combination), scroll down to `Controls`, then `Port 1 Controls`, then `Device Type` and the list should show:

- `None`
- `WiiMote`
- `WiiMote (sideways)`
- `WiiMote + Nunchuk`
- `WiiMote + Classic Controller`
- `WiiMote + Classic Controller Pro`
-

[2022-04-03 18:34] ToKe79 commented on #1668
please, provide some logs from the system.
[Troubleshooting Guide](http://www.lakka.tv/doc/Troubleshooting-Lakka/)

[2022-04-03 18:36] ToKe79 commented on #1664
Tested on Generic and RPi4 (both 64-bit) on latest nightly (equiv. to 4.1-rc), the issue is not present.

Where do you store the savestates? Do savestates work in other cores?

[2022-04-03 19:49] rsn8887 opened #1674 "Cores outdated"
Using latest Lakka 4.1, I was happy to see it uses the up-to-date version of Retroarch 1.10.2. However, I also noticed the bundled cores are very out of date. For example the bundled Commodore Amiga PUAE core is build using the libretro/libretro-uae commit 553ff478a2, which is from September 2021, and is over 6 months old. Hundreds of bugs in the core have been fixed since then, including some sig

[2022-04-03 20:16] rsn8887 commented on #1674
Never mind I was too blind to read the correct commit hash. It is up-to-date.

[2022-04-03 20:16] #1674 closed, assigned to nobody

[2022-04-03 21:38] ToKe79 commented on #1659
thank you - can you try image from here:
https://nightly.builds.lakka.tv/members/vudiq/AMLGX+mali_fbdev/

which DTB are you using?

[2022-04-04 07:11] smilerliu commented on #1664
I'm storing the save states at the default location. Other cores save correctly. I also have the same issue with both Zero 1 and Zero 2 with different sd cards, so it's not very likely that it's a board or sd card problem.

Note that the problem is very odd. Some observations:

1. If you start a game and do saves and then load the saves, there are no problems. However, if you close the game and ru

[2022-04-04 15:19] vus7294 opened #1675 "MAME cv1k games does not work on Switch aarch64"
This issue tracker is NOT for help or support. Please use one of the following channels for help and support:
- the Lakka forum (https://forums.libretro.com/c/libretro/lakka-tv-general)
- via IRC @ #lakkatv on freenode.net
- #lakkatv on libretro discord https://discord.gg/retroarch

Before you report a bug make sure you have tried the latest nightly version of Lakka at https://nightly.builds.lakka

[2022-04-05 21:16] notaz commented on #1651
I can tell from the logs the core was not compiled correctly for ARM, DYNAREC=ari64 must be used.

As for x86, whomever added the dynarec for it is not maintaining it, so it should not be used (DYNAREC=0 or whetever).

[2022-04-06 06:36] ToKe79 commented on #1651
@notaz thank you for your comment - indeed, we build `arm` with `DYNAREC=ari64`, but for other archs (`aarch64`, `x86_64` and `i386`) we do not add `DYNAREC=...` to make options, so the default dynarec is probably built.

I see that now when `lightrec` is being compiled for e.g. `aarch64`, an error is thrown (no `DYNAREC=` in make options):

[code]

After adding e.g. `DYNAREC=none` to make options

[2022-04-06 06:38] ToKe79 commented on #1651
@notaz based on https://github.com/libretro/pcsx_rearmed/issues/640#issuecomment-1089365376 no dynarec for x86_64 / i386 it is.

[2022-04-06 06:44] ToKe79 commented on #1651
@mediamoshpit should be fixed in next nightly build (updated core + correct dynarec). you can either wait for next nightly build / release or manually copy core from https://nightly.builds.lakka.tv/members/vudiq/pcsx_rearmed/

[2022-04-06 18:04] ToKe79 commented on #1669
wbfs scanning with the patch from @pkos works.

@greatliu did you manage to use the `GameCube Controller`?

All reported bugs should be fixed now in the Lakka-v4.x branch. Closing the issue

[2022-04-06 18:04] #1669 closed, assigned to nobody

[2022-04-06 19:38] gouchi commented on #1675
I tried on x86_64 using [latest nightly](https://nightly.builds.lakka.tv/latest/Generic.x86_64/Lakka-Generic.x86_64-nightly-v4.x-20220406-62399ee.img.gz) and it is working so maybe an issue on arm/aarch64 ?

[2022-04-06 19:47] mediamoshpit commented on #1651
Tested it on several titles and everything seems to work well now. Gotta hand it to you guys and the overall project; I make use of 48 cores and during my migration from 32-bit, only two had issues. Pretty great work and much appreciated.

[2022-04-07 06:44] ToKe79 commented on #1552
@beyondmeat pairing should be fixed in latest [Lakka 4.1-rc](https://lakka.tv/articles/2022/04/03/lakka-4.1-rc/#bluetooth-pairing). Can you please confirm it is working also for you?

[2022-04-07 07:26] ToKe79 commented on #1659
@SajjadSabzkar you can ignore the previous comment, `mali_fbdev` would not help, as we are using `lima` opensource driver. but I made a build where RetroArch is configured for GLESv2 (instead of GLESv3): https://nightly.builds.lakka.tv/members/vudiq/AMLGX.aarch64-GLESv2only/

Can you please test with this build and provide logs?

I noticed in the `01_RetroArch.log` missing verbose output from libG

[2022-04-07 12:03] ToKe79 commented on #1659
Additional question - is [Lakka 3.7](https://le-builds.lakka.tv/AMLGX.arm/Lakka-AMLGX.arm-3.7-box.img.gz) working on your TV Box?

[2022-04-07 18:54] gouchi commented on #1675
I tested also on arm and it is working so maybe related only to Switch aarch64 ?

[2022-04-07 18:57] gouchi commented on #1637
@RedCoder09 Did you have the opportunity to make some test ?

[2022-04-08 00:35] beyondmeat commented on #1552
@ToKe79 unfortunately it's still an issue. I updated to 1Lakka (official): devel-20220407004438-f6d6477 (RPi4.aarch64)`
I used the spacebar to clear all the pairings, I rebooted via the menu. I tried to pair 3 different versions of the xbox one controller. The first bluetooth one controller (microusb port), a white usb-c BT one controller, and a new 2022 Series X black controller (share button). A

[2022-04-08 01:07] greatliu commented on #1669
Alright.
I just found this option in ver 4.1RC.
Thanks.

***@***.***

From: Tomáš Kelemen
Date: 2022-04-04 02:05
To: libretro/Lakka-LibreELEC
CC: greatliu; Author
Subject: Re: [libretro/Lakka-LibreELEC] lakka4.0 x86 bug report (Issue #1669)
to your 3rd issue - gamecube controller - I just tried one wii iso, after you start the content, open the RetroArch menu (F1 key or your mapped button combinat

[2022-04-08 01:10] greatliu commented on #1669
Ver 4.1RC cannot scan WBFS.
I will wait next release.
Thanks all the same for your work.

***@***.***

From: Tomáš Kelemen
Date: 2022-04-07 02:04
To: libretro/Lakka-LibreELEC
CC: greatliu; Mention
Subject: Re: [libretro/Lakka-LibreELEC] lakka4.0 x86 bug report (Issue #1669)
wbfs scanning with the patch from @pkos works.
@greatliu did you manage to use the GameCube Controller?
All reported bugs sho

[2022-04-08 01:22] greatliu opened #1676 "Some wishes, about bluetooth and ps2."
I am a fan of lakka, I use lakka for about 2 years.
Sometimes I use batoce.. instead. I found something need to be improved in lakka.
1. bluetooth connect. In lakka UI, I connect xbox one controllor or wii mote, it can be connected just 1 second and then disconnected.
2. can you add xbox one wireless adapter driver for lakka?
3. before version 4.0, wii(gc) and ps2 emu always crash. After 4.0 wii i

[2022-04-08 03:31] vus7294 commented on #1675
[ibarablk.log](https://github.com/libretro/Lakka-LibreELEC/files/8448304/ibarablk.log)
i got logfile. crashed at last line

[2022-04-08 05:38] vus7294 commented on #1675
[mame2015.log](https://github.com/libretro/Lakka-LibreELEC/files/8448859/mame2015.log)
[mame2022.log](https://github.com/libretro/Lakka-LibreELEC/files/8448860/mame2022.log)
gdb backed up log here.

[2022-04-08 06:09] ToKe79 commented on #1552
Hi @beyondmeat,

sorry to hear that, maybe the driver we include is not working or is conflicting with something.

To troubleshoot a bit deeper, please follow these steps:

1. Boot Lakka, make sure you are connected to a network (Wi-Fi / Ethernet) - check device IP via `Main Menu` &rarr; `Information` &rarr; `Network Information`
2. Enable `SSH` via `Settings` &rarr; `Services`
3. Connect via `ssh

[2022-04-08 12:23] gouchi commented on #1675
Hi,

Thank you for the log.

Did you try with video driver `glcore` if you are having  also the issue ?

Kind regards,

[2022-04-08 23:01] smilerliu commented on #1664
Tried latest 3.x nightly on an rg351p and got the same crashing behavior. So this is not an rpi only thing. Wondering whether there are more compilation flags to tweak...

[2022-04-09 04:58] sajjadsabzkar commented on #1659
Hi , Yes of Course , Sorry to see your Comment now

[2022-04-09 04:59] sajjadsabzkar commented on #1659
I'll test this version too

[2022-04-09 07:19] smilerliu opened #1677 "fbalpha2012 and mame2000 are not included in GPICase"
There's a bug here: https://github.com/libretro/Lakka-LibreELEC/blob/f6d647760e0a4844e7129f6ad043a84590b7d53c/distributions/Lakka/options#L395

The "-o" (OR) should be "-a" (AND).

The impact of the bug is that the two cores, fbalpha2012 and mame2000, are excluded when the device is "GPICase".

[2022-04-09 10:21] beyondmeat commented on #1552
@ToKe79 Thank you will follow those steps this weekend. Take a look at [this posting](https://www.reddit.com/r/linux_gaming/comments/lenhbc/comment/i293rwt) about this issue.

[2022-04-09 20:39] gouchi commented on #1676
Hi,

It should work. You should try to provide some log as written in the [issue template](https://github.com/libretro/Lakka-LibreELEC/blob/Lakka-v4.x/.github/ISSUE_TEMPLATE.md).

It is already [added](https://github.com/libretro/Lakka-LibreELEC/blob/Lakka-v4.x/packages/linux-drivers/xpadneo/package.mk). You should check the [troubleshooting section](https://atar-axis.github.io/xpadneo/#troublesho

[2022-04-09 20:42] gouchi commented on #1535
@silentJET85 Did you have the opportunity to make some tests ?

[2022-04-09 20:49] silentJET85 commented on #1535
@gouchi I tried the tvout-tweaks shader, but it doesn't seem to make any difference. The colors are still wrong, particularly blacks are still crushed.

[2022-04-09 21:00] gouchi commented on #1535
So I am afraid this issue can't be solved right now.

You may try to make some test with Intel or AMD gpu.

[2022-04-09 21:00] #1535 closed

[2022-04-09 22:38] #1677 closed, assigned to nobody

[2022-04-10 10:25] badarg1 opened #1678 "Lakka 4.1 bootloop"
I have 2 old laptops I would like to try Lakka on. They are very similar and suffer the same issue: they are stuck in the "flower bootloop". I'm using Lakka 4.1. I didn't try a nightly build as this version was released just 2 days ago (and the issue is documented in the FAQ, so I don't thik it has been fixed since then).

Here are the slight behavious differences I've noticed between the 2 laptop

[2022-04-10 10:54] aeloya opened #1679 "No network on odroid c2 since Lakka 4.0"
There is no network for eth0 in Lakka 4.0,  4.1 & 4.2
Last system message on screen tells that eth0 cannot be configured.
In Network settings only 127.0.0.1 displayed.
Lakka 3.7 works fine.

[2022-04-10 12:37] gouchi commented on #1678
As the [FAQ mentioned](https://www.lakka.tv/doc/FAQ/#menu-xmb-is-too-slow), did you try to disable menu shader pipeline ? You will have to boot to [textmode](https://www.lakka.tv/doc/Accessing-Lakka-command-line-interface/) to edit the [configuration file](https://www.lakka.tv/doc/Configuring-Lakka/).

Your GPU is maybe too old for the menu shader.

If it is still not working you will have to swit

[2022-04-10 16:33] vus7294 commented on #1675
Same result. ;(

[2022-04-10 17:04] badarg1 commented on #1678
Thanks for the reply.
Neither disabling the menu shader pipeline nor switching the menu driver to RUI made any differente.

I'm not sure I'm doing the latter correctly, though. The [documentation](https://www.lakka.tv/doc/Menu-drivers/) only tells how to change the menu driver from the GUI, which is not viable in my case. What I did was change the option ~~`menu_shader`~~ `menu_driver` to `"rgui"`

[2022-04-10 18:22] gouchi commented on #1678
You  should have in the configuration file

[code]
and for rgui menu driver

`menu_driver = "rgui"`

[2022-04-10 18:48] badarg1 commented on #1678
That's what I have (with `"rgui"`). Still stuck in the bootloop.

In my previous message I meant `menu_driver`, not `menu_shader`, sorry.

[2022-04-11 05:58] smilerliu opened #1680 "Enable snes9x 2005 for rpi0/GPICase"
RG350 has a 1GHz MIPS CPU and it runs snes9x 2005 pretty well. Can we include the core in the rpi0/GPICase build as well? I'll be happy to at least try it out and report back how the core works.

[2022-04-11 12:42] greatliu commented on #1676
Hi,
Question 1.2.&4
Thanks for your help, I will have a try.

Question 3. I found in 4.1 release PS2 game runs!

My question is still no.2, I mean can you add !official! xbox one wireless adapter driver, not the bluetooth driver.

Thanks, my friend.

***@***.***

From: gouchi
Date: 2022-04-10 04:39
To: libretro/Lakka-LibreELEC
CC: greatliu; Author
Subject: Re: [libretro/Lakka-LibreELEC] Some wishe

[2022-04-11 19:13] ToKe79 commented on #1676
Can you be more specific, what do you mean by the official driver? Especially where to get it. I am aware of opensource [`xone` driver](https://github.com/medusalix/xone) - you mean this one?

[2022-04-12 00:33] greatliu commented on #1676
I mean, the support for "xbox wireless adapter", the official usb wireless adapter for xbox one controller.
In the previous lakka version, the adapter did not work.

Thanks.

[2022-04-12 10:40] kekopop commented on #1553
Had the same problem with the 4.1 release on my 4k TV, and found this thread. My cheap HDMI switch wouldn't handle 4k optimally though, so wanted lower res all the way through the boot process. Did some further googling. Turns out HDMI settings are done with kernel parameters now:

https://www.kernel.org/doc/Documentation/fb/modedb.txt

To force 720p from boot, I appended:

`video=HDMI-A-1:1280x72

[2022-04-12 14:36] sajjadsabzkar commented on #1659
Hi , i followed your Comment and Upload the file .
[log-2021-10-29-09.25.18.zip](https://github.com/libretro/Lakka-LibreELEC/files/8473886/log-2021-10-29-09.25.18.zip)

[2022-04-12 14:44] sajjadsabzkar commented on #1659
I tested this version and this version is no work on my tvbox too

[2022-04-13 09:56] igyenes commented on #1659
@SajjadSabzkar Hello, can you please give this a try?
https://drive.google.com/file/d/1gSzDkveByanIleJQ9eeuPswG0iV4jxSi/view?usp=sharing

[2022-04-13 12:56] nelson80s opened #1682 "Failed to mount"
Good morning, I don't know if this is the right place, please correct me. Does anyone have any idea what it is or could help?
My preference for Lakka for both PC and Arm S905x is because it is light, fast and well designed.
thanks
![Untitled](https://user-images.githubusercontent.com/103575065/163184703-427fded1-a841-4380-8f35-2e2cf116d094.jpg)
- -Which version of Lakka are you using?
- 4.1
- - Wh

[2022-04-13 13:13] sajjadsabzkar commented on #1659
Yes Sure!

[2022-04-13 15:36] sajjadsabzkar commented on #1659
Wow This Version is ok but Why ? :)

[2022-04-13 18:01] igyenes commented on #1659
Thanks for the feedback!
Disabled the composite output, so it forces retroarch to start on the HDMI.

[2022-04-14 04:20] sajjadsabzkar commented on #1659
Thanks .

[2022-04-14 07:02] vus7294 commented on #1494
I Tested x64 Lakka Even Can't Display Korean on XMB Theme. :(

[2022-04-14 16:56] ToKe79 commented on #1680
Hi @smilerliu
you can test cores (`snes9x2005` and `snes9x2005_plus`) from [here](https://nightly.builds.lakka.tv/members/lakkabuildbot/cores/) - let us know how they perform.
Thank you!

[2022-04-15 14:34] smilerliu commented on #1680
I only have a GPI case setup and I don't have the vanilla setup for running the rpi1 build.

I tried a few games (each for a few minutes) with the 2005 core, with the default config:

- Crono Trigger: mostly full speed with frameskip off.
- Mega Man X: full speed with frameskip off.
- Street of Fighter II Turbo: full speed with frameskip off.
- Super Mario RPG: slowdown and choppy even with frames

[2022-04-15 15:02] smilerliu commented on #1680
BTW the 2005 core performs much worse compared to RetroArch on RG350. There it plays all the games Iisted above at full speed. Perhaps this is an expected difference between the two platforms (although both have a 1GHz single core CPU).

[2022-04-15 16:52] #1680 closed, assigned to nobody

[2022-04-16 08:42] mediamoshpit opened #1685 "A5200 Core Inclusion"
Is it possible to have this core included in Lakka?

[2022-04-16 09:18] ToKe79 commented on #1685
Will be included in next release.

[2022-04-16 09:18] #1685 closed, assigned to nobody

[2022-04-16 21:26] #1659 closed, assigned to nobody

[2022-04-17 02:17] smilerliu commented on #1664
Here's the original report about the race core being added to libretro: https://www.libretro.com/index.php/libretro-core-progress-report-december-31-2019/

It does mention something about potentially having savestate and netplay issues.

Can we get a build of the core without DRZ80 so I can test it (I don't have the ability to build Lakka stuff)? I looked at the makefile in the libretro race core

[2022-04-17 11:04] smilerliu commented on #1680
For the record, I tried a few more games. For all the games I tried, the only one that doesn't work well with snes9x2002 is the Mario RPG game. Some people have reported that Super Metroid didn't work well with snes9x2002, but when I try now, it actually works pretty well. So it seems the core is still being improved, and I haven't been able to see the value of the snes9x2005 core yet.

It would b

[2022-04-19 20:13] ToKe79 commented on #1664
Hi @smilerliu,
I rebuild the core - modified the package to **not** add `DRZ80=1` to make options for arm platforms.
https://nightly.builds.lakka.tv/members/lakkabuildbot/race/
Let me know if it helps.

[2022-04-20 00:18] soda-pop-ice-cream opened #1686 "Orange Pi 4 LTS support"
Hello!
It's possible to add support of Orange Pi 4 LTS board? It's same Orange Pi 4, but with diffirent WiFi + BT chip(CDW 20U5622-00 instead of AP6256)
On Lakka website listed literally all RK3399 boards except it. I tested **all** provided RK3399 boards images with **no** luck(and sorry for generating some network load).
I **had** luck booting up image for ROCKPro64 board from Batocera, and ever

[2022-04-20 08:31] smilerliu commented on #1664
Confirmed that the core without DRZ80=1 works in terms of loading and saving.

The core runs slower than with DRZ80=1; on GPICase.arm, for several games I tried (Metal Slug 1st Mission, Metal Slug 2rd Mission, King of Fighters R-2, Samurai Shodown 2), it runs at close to 60FPS (mostly >59FPS) if I set the power management to "manual" (i.e., the CPU runs between 700MHz and 1Ghz).

IMHO savestate wo

[2022-04-20 10:14] smilerliu commented on #1664
I just tried the core with DRZ80 on again, and it actually doesn't run at full speed either. So now I definitely prefer to turn DRZ80 off.

[2022-04-20 23:55] gyllegert opened #1688 "Intel UHD 750 GPU isn't detected - Couldn't find a suitable DRM device."
Using Lakka 4.1 and the latest nightly (2022-04-20) to test.

The system is a Lenovo ThinkCentre M70q Gen2
i5-11500t
8GB RAM in single channel configuration
256GB NVME SSD

I had a look at the log and it ends like this i both 4.1 and the latest nightly build.
RetroArch [ERROR] :: [KMS]: Couldn't find a suitable DRM device.
RetroArch [INFO] :: Found GL context: null
RetroArch [INFO] :: Detecting sc

[2022-04-21 05:40] #1664 closed, assigned to ToKe79

[2022-04-21 05:41] ToKe79 commented on #1664
Thank you for your time and tests!

[2022-04-21 05:58] ToKe79 commented on #1688
does your laptop have multiple display outputs? can you try disabling unused ones via kernel command line options by editing the `syslinux.cfg` and `EFI/BOOT/grub.cfg` files on the LAKKA partition? just add `video=<port>:d` after the text `quiet` to disable certain output port (it is enough just to modify the "live" section in each file). to get list of ports you can check first by editing the abo

[2022-04-21 06:02] ToKe79 commented on #1682
during the very first boot, did you get messages regarding expanding storage partition? can you try flashing the image again? what exact TV box do you have (not only the SOC, but manufacturer/model)?

[2022-04-21 06:03] ToKe79 commented on #1507
vulkan should work now with dolphin in latest nightlies, can we confirm this please?

[2022-04-21 08:21] gyllegert commented on #1688
Just to clarify, this is a desktop, but it does have multiple display outputs. HDMI and DP specifically.

I tried getting the status, but none of the folders within sys/class/drm/ contained a status folder. It seems like the device isn't initialized. Since I know the PC is connected using HDMI though I tried writing video=HDMI-A-1 in the cfg files just to test. I still get the Lakka flower with th